{% extends "tutors/base_tutors.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete event" %}: {{ event }}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Begin" %}</th>
                <td>{{ event.begin }}</td>
            </tr>
            <tr>
                <th>{% trans "End" %}</th>
                <td>{{ event.end }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>{% trans "Meeting Point" %}</th>
                <td>{{ event.meeting_point }}</td>
            </tr>
            <tr>
                <th>{% trans "Subjects" %}</th>
                <td>
                    {% if event.subjects.all|length == 0 %}
                    {% trans "No subjects." %}
                    {% else %}
                    <table>
                        <tr>
                            <th>{% trans "Subject" %}</th>
                        </tr>
                        {% for subject in event.subjects.all %}
                        <tr>
                            <td>{{ subject }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </td>
            </tr>
        </table>
        {% if perms.tutor.edit_tutors %}
        <h2>{% trans "This event has the following tasks which will be deleted" %}:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Begin" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Meeting Point" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for task in event.task_set.all %}
                <tr>
                    <td><a href="{% url "task_view" task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.begin }}</td>
                    <td>{{ task.end }}</td>
                    <td>{{ task.meeting_point }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    <a
        class="btn btn-secondary"
        href="{% url "event_list" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Delete event" %}</button>
</form>
{% endblock %}
