{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Edit event" %}: {{ event }}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-lg-12">
            {% bootstrap_form form %}
        </div>
    </div>

    <a
        class="btn btn-secondary"
        href="{% url "event_view" event.id %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-primary"
        type="submit"
    >{% trans "Edit event" %}</button>
</form>

<script type="text/javascript">
    /* global addLink, valueCallback */
    const subjects = $('select[multiple][name="subjects"]');
    addLink(subjects, '{% trans "Master" %}', valueCallback('select', 'master'));
    addLink(subjects, '{% trans "Bachelor" %}', valueCallback('select', 'bachelor'));
</script>
{% endblock %}
