{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Tutor" %} - {% trans "Edit Event" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "Edit Event" %}: {{ event }}
    </h1>
    <hr>
    <form method="post" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12">
                {% bootstrap_form form %}
            </div>
        </div>

        <table class="table">
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </td>
                <td><a href="{% url "event_view" event.id %}" class="btn btn-default">{% trans "Cancel" %}</a></td>
            </tr>
        </table>
    </form>
    <script type="text/javascript">
        let subjects = $('select[multiple][name="subjects"]');
        addLink(subjects, '{% trans "Master" %}', valueCallback('select', 'master'));
        addLink(subjects, '{% trans "Bachelor" %}', valueCallback('select', 'bachelor'));
    </script>
{% endblock %}
