{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#eventTable').DataTable({
            columnDefs: [{ targets: 5, orderable: false }],
        });
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List of events" %}{% endblock %}

{% block set_common_content %}
<div class="table-responsive">
    <table
        id="eventTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin of the first meeting" %}</th>
                <th>{% trans "End of the last meeting" %}</th>
                <th>{% trans "Meeting Point" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for event in events %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url "tutors:view_event" event.id %}">{{ event.name }}</a>
                </td>
                <td data-sort="{{ event.first_datetime|date:"c" }}">{{ event.first_datetime }}</td>
                <td data-sort="{{ event.last_datetime|date:"c" }}">{{ event.last_datetime }}</td>
                <td>{{ event.meeting_point_str }}</td>
                <td>
                    <a href="{% url "tutors:edit_event" event.id %}"><span class="bi bi-pencil-square"></span></a>
                    <a href="{% url "tutors:del_event" event.id %}"><span class="bi bi-trash-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
