{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block set_common_headercontent %}{% trans "Event details" %}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <tr>
                <th>{% trans "Name" %}</th>
                <td>{{ event.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Begin" %}</th>
                <td>{{ event.begin }}</td>
            </tr>
            <tr>
                <th>{% trans "End" %}</th>
                <td>{{ event.end }}</td>
            </tr>
            <tr>
                <th>{% trans "Description" %}</th>
                <td>{{ event.description }}</td>
            </tr>
            <tr>
                <th>{% trans "Meeting Point" %}</th>
                {% trans "no meeting point specified" as no_meeting_point %}
                <td>{{ event.associated_meetings.location|default:no_meeting_point }}</td>
            </tr>
            <tr>
                <th>{% trans "Subjects" %}</th>
                <td>
                    {% if event.subjects.all|length == 0 %}
                    {% trans "No subjects." %}
                    {% else %}
                    <table>
                        <tr>
                            <th>{% trans "Subject" %}</th>
                        </tr>
                        {% for subject in event.subjects.all %}
                        <tr>
                            <td>{{ subject }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                    {% endif %}
                </td>
            </tr>
        </table>
        <div>
            <a
                class="btn btn-secondary"
                href="{% url "tutors:list_event" %}"
            >{% trans "Back" %}</a>
            {% if perms.tutor.edit_tutors %}
            <a
                class="btn btn-primary"
                href="{% url "tutors:edit_event" event.id %}"
            >{% trans "Edit event" %}</a>
            <a
                class="btn btn-danger"
                href="{% url "tutors:del_event" event.id %}"
            >{% trans "Delete event" %}</a>
            {% endif %}
        </div>
        {% if perms.tutor.edit_tutors %}
        <h2 class="card-title mt-3">{% trans "This event has the following tasks" %}: <a href="{% url "tutors:add_task_for_event" event.id %}">{% trans "Add Task" %}</a></h2>

        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Begin" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Meeting Point" %}</th>
                </tr>
            </thead>
            <tbody>
                {% trans "no meeting point specified" as no_meeting_point %}
                {% for task in event.task_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url "tutors:view_task" task.id %}">{{ task.name }}</a></td>
                    <td>{{ task.begin }}</td>
                    <td>{{ task.end }}</td>
                    <td>{{ task.associated_meetings.location|default:no_meeting_point }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
</div>
{% endblock %}
