{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Tutor" %} - {% trans "Dashboard" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "Dashboard" %}
    </h1>
    <hr>
    <div class="row">
        <div class="col-sm-12">
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Status" %}</div>
                    <table class="table">
                        <tr>
                            <th>{% trans "# Missing Mails" %}</th>
                            <td>{{ missing_mails }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "# Accepted Tutors" %}</th>
                            <td>{{ accepted_tutors }}</td>
                        </tr>
                        <tr>
                            <th>{% trans "# Waiting Tutors" %}</th>
                            <td>{{ waiting_tutors }}</td>
                        </tr>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Subjects" %}</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>{% trans "Subject" %}</th>
                            <th>{% trans "Is" %}</th>
                            <th>{% trans "Want" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c,w in subject_counts.items %}
                            <tr class="{% if w.0 < w.1 %}danger{% elif w.0 >= w.1 %}success{% endif %}">
                                <td>{{ forloop.counter }}</td>
                                <td>{{ c }}</td>
                                <td>{{ w.0 }}</td>
                                <td>{{ w.1 }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Upcoming Events" %}</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <td>{% trans "Name" %}</td>
                            <td>{% trans "Start" %}</td>
                            <td>{% trans "End" %}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for e in events %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url "event_view" e.id %}">{{ e.name }}</a></td>
                                <td>{{ e.begin }}</td>
                                <td>{{ e.end }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">{% trans "Upcoming Tasks" %}</div>
                    <table class="table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <td>{% trans "Name" %}</td>
                            <td>{% trans "Start" %}</td>
                            <td>{% trans "End" %}</td>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tasks %}
                            <tr>
                                <td>{{ forloop.counter }}</td>
                                <td><a href="{% url "task_view" t.id %}">{{ t.name }}</a></td>
                                <td>{{ t.begin }}</td>
                                <td>{{ t.end }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

