{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Batch accept tutors" %}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-sm-12">
        <p>{% trans "Do you really want to accept the following tutors?" %}</p>

        <form
            method="post"
            action=""
        >
            {% csrf_token %}

            <a
                class="btn btn-secondary"
                href="{% url "tutor_list_status_active" %}"
            >{% trans "Cancel" %}</a>
            <button
                class="btn btn-danger"
                type="submit"
            >{% trans "Accept all selected tutors" %}</button>

            {% bootstrap_form form %}
        </form>
    </div>
</div>
{% endblock %}
