{% extends "tutors/base_tutors.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete tutor" %}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-sm-12">
        <table class="table table-hover">
            <tr>
                <th>{% trans "First name" %}</th>
                <td>{{ tutor.first_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Surname" %}</th>
                <td>{{ tutor.last_name }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ tutor.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Subject" %}</th>
                <td>{{ tutor.subject }}</td>
            </tr>
            <tr>
                <th>{% trans "T-Shirt Size" %}</th>
                <td>{{ tutor.tshirt_size }}</td>
            </tr>
            <tr>
                <th>{% trans "Girls Cut?" %}</th>
                <td>{{ tutor.tshirt_girls_cut }}</td>
            </tr>
            <tr>
                <th>{% trans "Registration time" %}</th>
                <td>{{ tutor.registration_time }}</td>
            </tr>
        </table>
        <h2>
            {% trans "Questions" %}:
            {% if not perms.tutor.edit_tutors %}
            <a href="{% url "tutors:edit_tutor" tutor.id %}"><span class="bi bi-pencil-square">Edit</span></a>
            {% endif %}
        </h2>
        <table class="table">
            <thead>
                <tr>
                    <th>{% trans "Question" %}</th>
                    <th>{% trans "Answer" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for question in tutor.answer_set.all %}
                <tr>
                    <td>{{ question.question }}</td>
                    <td>{% if question.answer %}{% trans question.answer %}{% else %}-{% endif %}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <h2>{% trans "The tutor is assigned to the following tasks" %}:</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>{% trans "Name" %}</th>
                    <th>{% trans "Begin" %}</th>
                    <th>{% trans "End" %}</th>
                    <th>{% trans "Meeting Point" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for assignment in tutor.tutorassignment_set.all %}
                <tr>
                    <td>{{ forloop.counter }}</td>
                    <td><a href="{% url "tutors:view_task" assignment.task.id %}">{{ assignment.task.name }}</a></td>
                    <td>{{ assignment.task.begin }}</td>
                    <td>{{ assignment.task.end }}</td>
                    {% trans "no meeting point specified" as no_meeting_point %}
                    <td>{{ assignment.task.associated_meetings.location|default: no_meeting_point }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    <a
        class="btn btn-secondary"
        href="{% url "tutors:list_status_all" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Delete tutor" %}</button>
</form>
{% endblock %}
