{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    <script>
        $(function () {
            $("#tutorTable").tablesorter({
                theme: "bootstrap",
                widgets: ['zebra', 'columns', 'uitheme'],
                headerTemplate: '{content} {icon}',
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "Tutor" %} - {% trans "List Tutors" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "List Tutors" %}
    </h1>
    <div class="row">
        <div class="col-sm-12">
            <a href="{% if status is None %}{% url "tutor_export" "pdf" %}{% else %}
{% url "tutor_export_status" "pdf" status %}{% endif %}"><span class="glyphicon glyphicon-file"></span>
                {% trans "Export PDF" %}</a>
            <a href="{% if status is None %}{% url "tutor_export" "csv" %}{% else %}
{% url "tutor_export_status" "csv" status %}{% endif %}"><span class="glyphicon glyphicon-file"></span>
                {% trans "Export CSV" %}</a>
            <a href="{% if status is None %}{% url "tutor_export" "tshirt" %}{% else %}
{% url "tutor_export_status" "tshirt" status %}{% endif %}"><span class="glyphicon glyphicon-file"></span>
                {% trans "T-Shirt" %}
                List</a>
            {% if status is not None %}
                <a href="{% url "tutor_mail_status" status %}"><span class="glyphicon
                glyphicon-envelope"></span>
                    {% trans "Send Email" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="tutorTable" class="table tablesorter table-striped table-hover css-serial">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "First name" %}</th>
                        <th>{% trans "Last name" %}</th>
                        <th>{% trans "Subject" %}</th>
                        {% if status == "accepted" %}
                            <th>{% trans "Tasks Assigned" %}</th>
                        {% endif %}
                        {% if status is None %}
                            <th>{% trans "Status" %}</th>
                        {% endif %}
                        <th>{% trans "Registration time" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for tutor in tutors %}
                        <tr>
                            <td></td>
                            <td>
                                <a href="{% url "tutor_view" tutor.id %}">{{ tutor.first_name }}</a>
                            </td>
                            <td>
                                <a href="{% url "tutor_view" tutor.id %}">{{ tutor.last_name }}</a>
                            </td>
                            <td>
                                {{ tutor.subject }}
                            </td>
                            {% if status == "accepted" %}
                                <td>
                                    {{ tutor.task_set.count }}
                                </td>
                            {% endif %}
                            {% if status is None %}
                                <td>
                                    {% trans tutor.status %}
                                </td>
                            {% endif %}
                            <td>
                                {{ tutor.registration_time }}
                            </td>
                            <td>
                                <a href="{% url "tutor_edit" tutor.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                                <a href="{% url "tutor_delete" tutor.id %}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                                <a href="{% url "tutor_mail_tutor" tutor.id %}"><span class="glyphicon
                                glyphicon-envelope"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

