{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    <script>
        $(function () {
            $("#tutorTable").tablesorter({
                theme: "bootstrap",
                widgets: ['zebra', 'columns', 'uitheme'],
                headerTemplate: '{content} {icon}',
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "SET Tutor" %} - {% trans "List tutors" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "List tutors" %}
    </h1>

    <table id="tutorTable" class="table tablesorter">
        <thead>
        <tr>
            <th>{% trans "First name" %}</th>
            <th>{% trans "Last name" %}</th>
            <th>{% trans "Status" %}</th>
            <th>{% trans "Registration time" %}</th>
        </tr>
        </thead>
        <tbody>
        {% for tutor in tutors %}
            <tr>
                <td>
                    <a href="{% url "tutor_view" tutor.id %}">{{ tutor.first_name }}</a>
                </td>
                <td>
                    <a href="{% url "tutor_view" tutor.id %}">{{ tutor.last_name }}</a>
                </td>
                <td>
                    {{ tutor.status.name }}
                </td>
                <td>
                    {{ tutor.registration_time }}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

