# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# python/django
*.pyc
*.pyo
*.log
*.pot

# sqlite database
/db.sqlite3*

# txt2tags output
TODO.*

#pycharm
/lib/
/lib64/
/lib64/*
/include/
/share/
/bin/
/pyvenv.cfg
.idea

# coverage
.coverage
coverage.xml

#project
/staticfiles/
/venv/
*.csv
/node_modules/
