repos:
    - repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.0.1
      hooks:
          - id: check-ast
          - id: check-toml
          - id: check-yaml
          - id: check-executables-have-shebangs
          - id: check-merge-conflict
          - id: check-case-conflict
          - id: check-docstring-first
          - id: debug-statements
          - id: name-tests-test
            args: [--django]
          - id: end-of-file-fixer
          - id: mixed-line-ending
            args: [--fix=lf]
          - id: requirements-txt-fixer
    - repo: https://github.com/paulhfischer/pre-commit-hooks
      rev: v1.2.18
      hooks:
          - id: format-general
          - id: format-web
          - id: lint-css
          #- id: lint-javascript
    - repo: https://github.com/PyCQA/isort
      rev: 5.9.3
      hooks:
          - id: isort
    - repo: https://github.com/asottile/add-trailing-comma
      rev: v2.2.0
      hooks:
          - id: add-trailing-comma
    - repo: https://github.com/psf/black
      rev: 21.9b0
      hooks:
          - id: black
            language_version: python3
    - repo: https://github.com/pre-commit/pygrep-hooks
      rev: v1.9.0
      hooks:
          - id: python-check-blanket-noqa
          - id: python-use-type-annotations
    - repo: local
      hooks:
          - id: mypy
            name: mypy
            entry: mypy
            language: system
            types: [python]
    - repo: https://gitlab.com/PyCQA/flake8
      rev: 3.9.2
      hooks:
          - id: flake8
            additional_dependencies:
                - flake8-broken-line
                - flake8-commas
                - flake8-bugbear
                - flake8-comprehensions
                - flake8-mutable
                - flake8-return
                - flake8-typing-imports
                - flake8-simplify
                - flake8-print
                - flake8-use-fstring
                - flake8-django
    - repo: local
      hooks:
          - id: django-makemigrations
            name: django-migrations
            entry: ./manage.py makemigrations
            language: system
            pass_filenames: false
          - id: django-check
            name: django-check
            entry: ./manage.py check --fail-level=INFO
            language: system
            pass_filenames: false
          - id: django-migratate
            name: django-migrations
            entry: ./manage.py migrate
            language: system
            pass_filenames: false
          - id: django-makemessages
            name: django-makemessages
            entry: ./manage.py makemessages -a --add-location=file --ignore="venv/*"
            language: system
            pass_filenames: false
          - id: django-compilemessages
            name: django-compilemessages
            entry: ./manage.py compilemessages --ignore="venv/*"
            language: system
            pass_filenames: false
    - repo: https://github.com/PyCQA/bandit
      rev: 1.7.0
      hooks:
          - id: bandit
    - repo: local
      hooks:
          - id: pylint
            name: pylint
            entry: pylint
            language: system
            types: [python]
            exclude: migrations
