Django~=3.1.0
django-active-link~=0.1.0
django-bootstrap-datepicker-plus~=3.0.5
django-bootstrap4~=2.3.0
django-crontab~=0.7.0
django-modeltranslation~=0.16.2
django-tex~= 1.1.8
Pillow~=8.1.2
python-dateutil~=2.8.0
qrcode~=6.1
