{% load i18n %}
<div class="well">
    {% blocktrans trimmed %}
    <p>With your permission, your data will be collected, processed, and used for the following purposes:</p>
    <ul>
        <li>Generation of participant lists</li>
        <li>Sending information before and after the guided tours by e-mail</li>
    </ul>
    <p>
        Your personal data will be collected, processed, and used in the context of the aforementioned
        objectives in accordance with the Bavarian Data Protection Act (BayDSG). All personal data will
        be permanently deleted at most six months after the end of the study introduction days.
    </p>
    <p>
        The collection, processing, and use of your data take place on a voluntary basis. Furthermore,
        you can revoke your consent at any time with the adverse consequence that you cannot participate
        in the guided tours.
    </p>
    <p>Please send any notice of cancellation to:</p>
    <address>
        Fachschaft MPI<br>
        Technische Universität München<br>
        Boltzmannstraße 3<br>
        85748 Garching<br>
        E-Mail: <a href="mailto:set-owner@fs.tum.de">set-owner@fs.tum.de</a>
    </address>
    <p>In the event of cancellation, your data will be deleted upon receipt of your notice.</p>
    {% endblocktrans%}
</div>
