{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% trans "Sign up for SET-Tutor" %}
    </div>
    <div class="card-body">
        <hr>
        <form
            method="post"
            action=""
        >
            {% csrf_token %}

            <div class="row">
                <div class="col-lg-12">
                    {% bootstrap_form form %}
                    <div class="well">
                        {% trans "tutors_privacy_policy" %}
                    </div>
                </div>
            </div>

            <h2>{% trans "Questions" %}</h2>
            <div class="row">
                <div class="col-lg-12">
                    {% bootstrap_formset answer_formset %}
                </div>
            </div>

            <button
                class="btn btn-primary"
                type="submit"
            >{% trans "Sign up" %}</button>
        </form>

        <script type="text/javascript">
            const ects = $('#id_ects');
            const matriculationNumber = $('#id_matriculation_number').parent();
            const birthday = $('#id_birthday').parent().parent();

            matriculationNumber.toggle(ects.is(':checked'));
            birthday.toggle(ects.is(':checked'));

            ects.change(() => {
                matriculationNumber.toggle(ects.is(':checked'));
                birthday.toggle(ects.is(':checked'));
            });
        </script>
    </div>
</div>
{% endblock %}
