{% extends "guidedtours/base_guidedtours.html" %}
{% load i18n %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#tourTable').DataTable({
            columnDefs: [{ targets: 4, orderable: false, className: 'text-end' }],
        });
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List of all tours" %}{% endblock %}

{% block set_common_content %}
<div class="table-responsive">
    <table
        id="tourTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "Tour" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Capacity" %}</th>
                <th>{% trans "Lenght [min]" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for tour in tours %}
            <tr>
                <td><a href="{% url "guidedtours:view_tour" tour.id %}">{{ tour.name }}</a></td>
                <td><a href="{% url "guidedtours:view_tour" tour.id %}">{{ tour.date }}</a></td>
                <td>{{ tour.capacity }}</td>
                <td>{{ tour.length }}</td>
                <td>
                    <a
                        class='btn btn-secondary'
                        href="{% url "guidedtours:export_tour" "csv" tour.id %}"
                    >{% trans "Export confired participants as CSV" %} <span class="bi bi-file-spreadsheet"></span></a>
                    <a
                        class='btn btn-primary'
                        href="{% url "guidedtours:export_tour" "pdf" tour.id %}"
                    >{% trans "Export confired participants as PDF" %} <span class="bi bi-file-earmark-person-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
