{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_navigation %}
{% if perms.set %}
<a
    class="nav-link {% active_link "settings_dashboard" %}"
    href="{% url "settings_dashboard" %}"
>{% trans "Dashboard" %}</a>
<h4 class="navbar-text">{% trans "Email-Templates" %}</h4>
<a
    class="nav-link {% active_link "list_mail" %}"
    href="{% url "list_mail" %}"
>{% trans "All templates" %}</a>
<a
    class="nav-link {% active_link "list_filtered_mail_tutors" %}"
    href="{% url "list_filtered_mail_tutors" %}"
>{% trans "Tutor mail templates" %}</a>
<a
    class="nav-link {% active_link "add_mail" %}"
    href="{% url "add_mail" %}"
>{% trans "Add template" %}</a>

<h4 class="navbar-text">{% trans "Study-Subjects" %}</h4>
<a
    class="nav-link {% active_link "list_subjects" %}"
    href="{% url "list_subjects" %}"
>{% trans "Manage Study-Subjects" %}</a>

{% else %}
Sorry, but you have no Settings
{% endif %}


{% if user.is_authenticated %}
<h4 class="navbar-text">{% trans "QR-Codes" %}</h4>
<a
    class="nav-link {% active_link "list_qr_codes" %}"
    href="{% url "list_qr_codes" %}"
>{% trans "All QR-Codes" %}</a>
<a
    class="nav-link {% active_link "add_qr_code" %}"
    href="{% url "add_qr_code" %}"
>{% trans "Add QR-Code" %}</a>
{% endif %}
{% endblock %}
