{% extends "settool_common/settings/settings.html" %}
{% load i18n %}

{% block title %}{% trans "SET" %} - {% trans "Delete email" %}{% endblock %}

{% block set_common_headercontent %}
{% trans "Delete email" %}: {{ mail.subject }}}
{% endblock %}

{% block setings %}
<table class="table table-hover">
    <tr>
        <th>{% trans "Email subject" %}</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Text" %}</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<form
    method="post"
    action=""
>
    {% csrf_token %}

    <table class="table">
        <tr>
            <td>
                <button
                    type="submit"
                    class="btn btn-danger"
                >
                    {% trans "Delete" %}
                </button>
            </td>
            <td>
                <a
                    href="{% url "mail_list" %}"
                    class="btn btn-secondary"
                >
                    {% trans "Cancel" %}
                </a>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
