{% extends "settool_common/settings/settings.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "SET" %} - {% trans "Email details" %}{% endblock %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#mailDetailsTable').DataTable();
        });
    </script>
{% endblock %}
{% block set_common_headercontent %}
    {{ mail }}
{% endblock %}
{% block setings %}
    <div class="table-responsive">
        <table id="mailDetailsTable" class="table table-bordered dataTable">
            <tr>
                <th>{% trans "Email subject" %}</th>
                <td>{{ mail.subject }}</td>
            </tr>
            <tr>
                <th>{% trans "Text" %}</th>
                <td>{{ mail.text|linebreaks }}</td>
            </tr>
            {% if perms.tutor.edit_tutors %}
                <tr>
                    <th>{% trans "Edit" %}</th>
                    <td>
                        <a href="{% url "mail_edit" mail.id %}"><span
                                class="glyphicon glyphicon-edit"></span></a>
                    </td>
                </tr>
                <tr>
                    <th>{% trans "Delete" %}</th>
                    <td>
                        <a href="{% url "mail_delete" mail.id %}"><span
                                class="glyphicon glyphicon-trash"></span></a>
                    </td>
                </tr>
            {% endif %}
        </table>
    </div>
{% endblock %}
