{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}
{% trans "Email details" %}: {{ mail }}
{% endblock %}

{% block set_common_content %}
<table class="table table-hover">
    <tr>
        <th>{% trans "Email subject" %}</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Text" %}</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>
<a
    href="{% url "mail_list" %}"
    class="btn btn-secondary"
>{% trans "Back" %}</a>
{% if perms.tutor.edit_tutors %}
<a
    href="{% url "mail_edit" mail.id %}"
    class="btn btn-primary"
>{% trans "Edit" %} <span class="glyphicon glyphicon-edit"></span></a>
<a
    href="{% url "mail_delete" mail.id %}"
    class="btn btn-danger"
>{% trans "Delete" %} <span class="glyphicon glyphicon-trash"></span></a>
{% endif %}
{% endblock %}
