{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Email details" %}: {{ mail }}{% endblock %}

{% block set_common_content %}
<table class="table table-hover">
    <tr>
        <th>{% trans "Email subject" %}</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Text" %}</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<div>
    <a
        class="btn btn-secondary"
        href="{% url "mail_list" %}"
    >{% trans "Back" %}</a>
    {% if perms.tutor.edit_tutors %}
    <a
        class="btn btn-primary"
        href="{% url "mail_edit" mail.id %}"
    >{% trans "Edit email" %} <span class="bi bi-pencil-square"></span></a>
    <a
        class="btn btn-danger"
        href="{% url "mail_delete" mail.id %}"
    >{% trans "Delete email template" %} <span class="bi bi-trash-fill"></span></a>
    {% endif %}
</div>
{% endblock %}
