{% extends "settool_common/settings/base_settings.html" %}
{% load qr_codes %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Settings dashboard" %}{% endblock %}

{% block set_common_content %}
<div class='row'>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Email-templates by sender" %}</h5>
        <div style='max-width: 30rem;min-width: 10rem;min-height: 40rem;'>
            <canvas id='email_pie_chart'></canvas>
        </div>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Status for selected Semester" %}</h5>
        <div class='table-responsive'>
            <table class='table dataTable hover'>
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Settings have been created" %}</th>
                        <th>{% trans "GDPR-relevant data has been anonimsed" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{% trans "SET-Fahrt" %}</td>
                        <td><a href='{% url "fahrt:settings" %}'>{% include "snippets/true_false_span.html" with value=fahrt_exists %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=fahrt_privatised %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "SET-Bags" %}</td>
                        <td>-</td>
                        <td>-</td>
                    </tr>
                    <tr>
                        <td>{% trans "SET-Tutor" %}</td>
                        <td><a href='{% url "tutors:general_settings" %}'>{% include "snippets/true_false_span.html" with value=tutors_general_exists %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=tutors_privatised %}</td>
                    </tr>
                    <tr>
                        <td>{% trans "Guided tours of the institutes" %}</td>
                        <td><a href='{% url "guidedtours:settings" %}'>{% include "snippets/true_false_span.html" with value=guidedtours_exists %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=guidedtours_privatised %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Fahrt-Signup" %}</h5>
        <a href='{% url "fahrt:signup" %}'>
            <img
                class='m-2 img-fluid'
                src='{% generate_qr_code_url "fahrt:signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "fahrt:signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Tutor-Signup" %}</h5>
        <a href='{% url "tutors:tutor_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='{% generate_qr_code_url "tutors:tutor_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "tutors:tutor_signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Colaborator-Signup" %}</h5>
        <a href='{% url "tutors:collaborator_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='{% generate_qr_code_url "tutors:collaborator_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "tutors:collaborator_signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Guildedtour-Signup" %}</h5>
        <a href='{% url "guidedtours:signup" %}'>
            <img
                class='m-2 img-fluid'
                src='{% generate_qr_code_url "guidedtours:signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "guidedtours:signup" %}'
            >
        </a>
    </div>
</div>
{% endblock %}

{% block defered_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script>
    /* global Chart */
    const ctx = document.getElementById('email_pie_chart').getContext('2d');

    /* eslint no-new: off */
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ mail_template_sender|safe }},
            datasets: [
                {
                    label: 'Email Templates by sender',
                    data: {{ mail_template_count }},
                    backgroundColor: ['#1dd1a1', '#48dbfb', '#feca57', '#70a1ff'],
                },
            ],
        },
        options: {
            maintainAspectRatio: false,
        },
    });
</script>
{% endblock %}
