{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Settings dashboard" %}{% endblock %}

{% block set_common_content %}
<div class='row'>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Email-templates by sender" %}</h5>
        <div style='max-width: 30rem;min-width: 10rem;min-height: 40rem;'>
            <canvas id='email_pie_chart'></canvas>
        </div>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Status" %}</h5>
        <div class='table-responsive'>
            <table class='table dataTable hover'>
                <thead>
                    <tr>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Exists for this Semester" %}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href='{% url "fahrt_date" %}'>{% trans "Fahrt-Settings" %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=fahrt_exists %}</td>
                    </tr>
                    <tr>
                        <td><a href='{% url "tutors_settings_general" %}'>{% trans "Tutor-Settings" %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=tutor_general_exists %}</td>
                    </tr>
                    <tr>
                        <td><a href='{% url "tours_settings" %}'>{% trans "Guidedtour-Settings" %}</a></td>
                        <td>{% include "snippets/true_false_span.html" with value=guidedtours_exists %}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='row'>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Fahrt-Signup" %}</h5>
        <a href='{% url "fahrt_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='https://chart.googleapis.com/chart?cht=qr&chld=H|0&chs=400x400&chl={{ request.scheme }}://set.mpi.fs.tum.de{% url "fahrt_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "fahrt_signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Tutor-Signup" %}</h5>
        <a href='{% url "tutor_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='https://chart.googleapis.com/chart?cht=qr&chld=H|0&chs=400x400&chl={{ request.scheme }}://set.mpi.fs.tum.de{% url "tutor_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "tutor_signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Colaborator-Signup" %}</h5>
        <a href='{% url "collaborator_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='https://chart.googleapis.com/chart?cht=qr&chld=H|0&chs=400x400&chl={{ request.scheme }}://set.mpi.fs.tum.de{% url "collaborator_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "collaborator_signup" %}'
            >
        </a>
    </div>
    <div class='col-md'>
        <h5 class='card-title'>{% trans "Guildedtour-Signup" %}</h5>
        <a href='{% url "tours_signup" %}'>
            <img
                class='m-2 img-fluid'
                src='https://chart.googleapis.com/chart?cht=qr&chld=H|0&chs=400x400&chl={{ request.scheme }}://set.mpi.fs.tum.de{% url "tours_signup" %}'
                alt='QR-Code linking to {{ request.scheme }}://set.mpi.fs.tum.de{% url "tours_signup" %}'
            >
        </a>
    </div>
</div>
{% endblock %}

{% block defered_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script>
    /* global Chart */
    const ctx = document.getElementById('email_pie_chart').getContext('2d');

    /* eslint no-new: off */
    new Chart(ctx, {
        type: 'doughnut',
        data: {
            labels: {{ mail_template_sender|safe }},
            datasets: [
                {
                    label: 'Email Templates by sender',
                    data: {{ mail_template_count }},
                    backgroundColor: ['#1dd1a1', '#48dbfb', '#feca57', '#70a1ff'],
                },
            ],
        },
        options: {
            maintainAspectRatio: false,
        },
    });
</script>
{% endblock %}
