{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
<div class="card">
    <div class="card-header">
        {% trans "Sign up for a guided tour" %}
    </div>
    <div class="card-body">

        <form
            method="post"
            action=""
        >
            {% csrf_token %}

            <div class="row">
                <div class="col-xs-12 col-lg-5">
                    {% bootstrap_form form %}
                    {% include "privacy_policies/guildedtours_privacy_policy.html" %}
                </div>
                <div class="col-xs-12 col-lg-1">
                </div>
                <div class="col-xs-12 col-lg-5">
                    <h2>
                        {% trans "Guided tours" %}
                    </h2>
                    <ul>
                        {% for tour in tours %}
                        <li>
                            <strong>
                                {% blocktranslate trimmed with name=tour.name date=tour.date %}
                                {{ name }} on {{ date }}:
                                {% endblocktranslate %}
                            </strong>
                            <p>{{ tour.description }}</p>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <button
                class="btn btn-primary"
                type="submit"
            >{% trans "Sign up" %}</button>
        </form>
    </div>
</div>
{% endblock %}
