{% extends "base_single_card_layout.html" %}
{% load static %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block set_common_headercontent %}{% trans "Sign up for a guided tour" %}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-xs-12 col-lg-6 mb-3">
        <form
            method="post"
            action=""
        >
            {% csrf_token %}
            {% bootstrap_form form %}
            {% include "privacy_policies/guidedtours_privacy_policy.html" %}
            <button
                class="btn btn-primary"
                type="submit"
            >{% trans "Sign up" %}</button>
        </form>
    </div>
    <div class="col-xs-12 col-lg-6">
        <h2 class='h4'>{% trans "All availible Guided guidedtours:" %}</h2>
        <div
            class="accordion"
            id="accordion"
        >
            {% for tour in tours %}
            <div class="accordion-item">
                <h2
                    class="accordion-header"
                    id="heading{{ forloop.counter }}"
                >
                    <button
                        class="accordion-button {% if not forloop.first %}collapsed{% endif %}"
                        data-bs-toggle="collapse"
                        data-bs-target="#collapse{{ forloop.counter }}"
                        aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}"
                        aria-controls="collapse{{ forloop.counter }}"
                        onclick='assignTour("{{ tour.id }}")'
                    >
                        {% blocktranslate trimmed with name=tour.name date=tour.date lenth=tour.length %}
                            {{ name }} on {{ date }}
                        {% endblocktranslate %}
                        {% if tour.free_places_cnt > 0  %}
                            <span class="ms-3 badge text-bg-success">
                            {% blocktranslate trimmed with free_places_cnt=tour.free_places_cnt %}
                            {{ free_places_cnt }} available places
                            {% endblocktranslate %}
                            </span>
                        {% else %}
                            <span class="ms-3 badge text-bg-warning">
                            {% blocktranslate trimmed with waitinglist_cnt=tour.waitinglist_cnt %}
                            {{ waitinglist_cnt }} on the waiting list
                            {% endblocktranslate %}
                            </span>
                        {% endif %}
                    </button>
                </h2>
                <div
                    id="collapse{{ forloop.counter }}"
                    class="accordion-collapse collapse {% if forloop.first %}show{% endif %}"
                    aria-labelledby="heading{{ forloop.counter }}"
                    data-bs-parent="#accordion"
                >
                    <div class="accordion-body">
                        <table class='table table-hover'>
                            <tbody>
                                <tr>
                                    <th>{% trans "Length:" %}</th>
                                    <td>
                                        {{ tour.length }} {% trans "minutes" %}
                                        <span
                                            class='bi bi-info-circle-fill'
                                            data-bs-toggle='tooltip'
                                            data-bs-html="true"
                                            title='{% trans "Please note that tours sometimes take longer than this time.<br> Plan <b>at least with a 30 minutes buffer</b> between Guidedtours.<br><br>Time-travel is impossible.<br>Your probably can not teleport.<br>If you apply for two confilicting tours we will cancel your registration, to be fair for everyone." %}'
                                        ></span>
                                    </td>
                                </tr>
                                <tr>
                                    <th>{% trans "Description:" %}</th>
                                    <td>{{ tour.description }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}

{% block defered_script %}
<script type="text/javascript">
    /* global Choices bootstrap */
    /* eslint no-new: off */
    const tour = new Choices(document.getElementById('id_tour'));
    /* eslint-disable no-unused-vars */
    function assignTour(id) {
        tour.setChoiceByValue(id);
    }

    const tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    /* eslint-disable no-unused-vars */
    const tooltipList = tooltipTriggerList.map((tooltipTriggerEl) => {
        return new bootstrap.Tooltip(tooltipTriggerEl);
    });
</script>
{% endblock %}
