{% load staticfiles %}
{% load i18n %}
{% load bootstrap3 %}
{% load semester %}

<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <script src="{% static "common/js/jquery.min.js" %}"></script>
        <script src="{% static "common/js/jquery.tablesorter.min.js" %}"></script>
        <script src="{% static "common/js/jquery.tablesorter.widgets.min.js" %}"></script>
        <script src="{% static "common/js/jquery.multi-select.js" %}"></script>
        <script src="{% static "common/js/bootstrap.min.js" %}"></script>
        <script src="{% static "common/js/bootstrap-editable.min.js" %}"></script>
        <script src="{% static "common/js/multiselect.js" %}"></script>

        <link href="{% static "common/css/bootstrap.min.css" %}" media="all" rel="stylesheet">
        <link href="{% static "common/css/bootstrap-theme.min.css" %}" media="all" rel="stylesheet">

        <link href="{% static "common/css/style.css" %}" media="all" rel="stylesheet">
        <link href="{% static "common/css/bootstrap-editable.css" %}" media="all" rel="stylesheet"/>
        <link href="{% static "common/css/multi-select.min.css" %}" media="all" rel="stylesheet"/>

        <title>{% trans "SET" %} {% block title %}{% endblock %}</title>

        {% block head %}{% endblock %}
        {% block extrahead %}       {# Extra Resources Start #}
            {{ form.media }}        {# Form required JS and CSS #}
        {% endblock %}              {# Extra Resources End #}
    </head>

    <body>
        <nav class="navbar navbar-default">
            <div class="container">
                {# button to show menu on small devices#}
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>


                {# menu content #}
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    {# on the right #}
                    <ul class="nav navbar-nav navbar-left">
                        {# login #}
                        {% if user.is_authenticated %}
                            <p class="navbar-text">
                                {% blocktrans with username=user.first_name %}Hello {{ username }}!{% endblocktrans %}
                             </p>
                            <li><a href="{% url "logout" %}">{% trans "Logout" %}</a></li>
                        {% else %}
                            <li><a href="{% url "login" %}">{% trans "Login" %}</a></li>
                        {% endif %}
                        {# end login #}
                    </ul>

                    {# choose semester #}
                    {% if user.is_authenticated %}
                        <form action="{% url 'set_semester' %}" method="post" class="navbar-form navbar-left" role="form">
                            <div class="form-group">
                                {% csrf_token %}
                                <input name="next" type="hidden" value="" />

                                <select name="semester" onchange="this.form.submit()" class="form-control">
                                    {% get_semester as SEMESTER_PK %}
                                    {% get_available_semesters as semesters %}
                                    {% for semester in semesters %}
                                        <option value="{{ semester.pk }}"{% if semester.pk == SEMESTER_PK %} selected="selected"{% endif %}>
                                            {{ semester }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                            <noscript>
                                <button type="submit" class="btn btn-default">{% trans "Switch" %}</button>
                            </noscript>
                        </form>
                    {% endif %}
                    {# end choose semester #}

                    {# links to the apps' index pages #}
                    <ul class="nav navbar-nav navbar-left">
                        {% if 'fahrt.view_participants' in perms %}
                            <li><a href="{% url "fahrt_index" %}">{% trans "SET-Fahrt" %}</a></li>
                        {% endif %}
                        {% if 'bags.view_companies' in perms %}
                            <li><a href="{% url "listcompanies" %}">{% trans "SET-Tüten" %}</a></li>
                        {% endif %}
                        {% if 'tutors.edit_tutors' in perms %}
                            <li><a href="{% url "event_list" %}">{% trans "SET-Tutor" %}</a></li>
                        {% endif %}
                        {% if 'guidedtours.view_participants' in perms %}
                            <li><a href="{% url "tours_list" %}">{% trans "Institutsführungen" %}</a></li>
                        {% endif %}
                        {% if 'set.perms.set' in perms %}
                            <li><a href="{% url "common_settings" %}">{% trans "Settings" %}</a></li>
                        {% endif %}
                    </ul>

                    {# language chooser #}
                    <form action="{% url 'set_language' %}" method="post" class="navbar-form navbar-right" role="form">
                        <div class="form-group">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="" />

                            <select name="language" onchange="this.form.submit()" class="form-control">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}

                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }}
                                </option>
                            {% endfor %}
                            </select>
                        </div>
                        <noscript>
                            <button type="submit" class="btn btn-default">{% trans "Switch" %}</button>
                        </noscript>
                    </form>
                    {# end language chooser #}
                </div>
            </div>
        </nav>

        <div class="container">
            {# messages #}
            {% if messages %}
                {% bootstrap_messages messages %}
            {% endif %}

            {# content #}
            {% block content %}{% endblock %}
        </div>

        <footer class="footer">
            <div class="container">
                <p class="text-muted">
                    <a href="http://fs.tum.de/datenschutz/">{% trans "Datenschutz" %}</a> |
                    <a href="http://fs.tum.de/impressum/">{% trans "Impressum" %}</a>
                </p>
            </div>
        </footer>

        <script type="text/javascript">
            jQuery.each($("select[multiple]:visible"), function () {
                addLink(this, '{% trans "Deselect All" %}', defaultCallback('deselect_all'));
                addLink(this, '{% trans "Select All" %}', defaultCallback('select_all'));
                $(this).multiSelect({
                    selectableHeader: "{% trans "Selectable items" %}",
                    selectionHeader: "{% trans "Selection items" %}",
                });
            });
        </script>
    </body>
</html>

