{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Tutor" %} - {% trans "Add Requirement" %}{% endblock %}

{% block tutorcontent %}
    <div class="card">
        <div class="card-header">

            {% trans "Add Requirement" %}
        </div>
        <div class="card-body">
            <hr>
            <form method="post" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-lg-12">
                        {% bootstrap_form form %}
                    </div>
                </div>

        <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </form>
{% endblock %}
