{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#requirementTable').DataTable({
            columnDefs: [{ targets: 2, orderable: false }],
        });
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List of requirements" %}{% endblock %}

{% block set_common_content %}
<div class="table-responsive">
    <table
        id="requirementTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>#</th>
                <th>{% trans "Question" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for requirement in requirements %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <a href="{% url "tutors:view_requirement" requirement.id %}">{{ requirement.question }}</a>
                </td>
                <td>
                    <a href="{% url "tutors:edit_requirement" requirement.id %}"><span class="bi bi-pencil-square"></span></a>
                    <a href="{% url "tutors:del_requirement" requirement.id %}"><span class="bi bi-trash-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
