{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Details for requirement " %} {{ requirement }}{% endblock %}

{% block set_common_content %}
<table class="table">
    <tr>
        <th>{% trans "Question" %}</th>
        <td>{{ requirement.question }}</td>
    </tr>
</table>
<div>
    <a
        class="btn btn-secondary"
        href="{% url "requirement_list" %}"
    >{% trans "Back" %}</a>
    {% if perms.tutor.edit_tutors %}
    <a
        class="btn btn-primary"
        href="{% url "requirement_edit" requirement.id %}"
    >{% trans "Edit requirement" %}</a>
    <a
        class="btn btn-danger"
        href="{% url "requirement_delete" requirement.id %}"
    >{% trans "Delete requirement" %}</a>
    {% endif %}
</div>
{% endblock %}
