{% extends "base_card_layout.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_navigation %}
    <h4>{% trans "General" %}</h4>
    <a class="nav-item" href="{% url 'tours_signup' %}">{% trans "Sign up" %}</a>

    <hr>
    <h4>{% trans "Tours" %}</h4>
    <a class="nav-item" href="{% url 'tours_list' %}">{% trans "List tours" %}</a>
    <a class="nav-item" href="{% url 'tours_add' %}">{% trans "Add tour" %}</a>

    <hr>
    <h4>{% trans "Mails" %}</h4>
    <a class="nav-item" href="{% url 'tours_filter' %}">{% trans "Filter participants/Send emails" %}</a>
    <a class="nav-item" href="{% url 'tours_listmails' %}">{% trans "List email templates" %}</a>
    <a class="nav-item" href="{% url 'tours_addmail' %}">{% trans "Add email template" %}</a>
{% endblock %}
