{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-3 wrap sidebar">
            <div class="card">
                <div class="card-header">
                    {% trans "Guided tours of an institute" %}
                </div>
                <div class="card-body">
                    <h4>{% trans "General" %}</h4>
                    <nav class="nav flex-column">
                        <a class="nav-item" href="{% url 'tours_signup' %}">{% trans "Sign up" %}</a>
                    </nav>
                    <hr>
                    <h4>{% trans "Tours" %}</h4>
                    <nav class="nav flex-column">
                        <a class="nav-item" href="{% url 'tours_list' %}">{% trans "List tours" %}</a>
                        <a class="nav-item" href="{% url 'tours_add' %}">{% trans "Add tour" %}</a>
                    </nav>
                    <hr>
                    <h4>{% trans "Mails" %}</h4>
                    <nav class="nav flex-column">
                        <a class="nav-item"
                           href="{% url 'tours_filter' %}">{% trans "Filter participants/Send emails" %}</a>
                        <a class="nav-item" href="{% url 'tours_listmails' %}">{% trans "List email templates" %}</a>
                        <a class="nav-item" href="{% url 'tours_addmail' %}">{% trans "Add email template" %}</a>
                    </nav>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            {% block tourscontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
