{% extends "guidedtours/base_guildedtours.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete email template" %}: {{ mail.subject }}{% endblock %}

{% block set_common_content %}
    <p>
        {% blocktrans trimmed %}
            Do you really want to delete the following email template?
        {% endblocktrans %}
    </p>
    <p>
        <strong>{% trans "Subject" %}:</strong> {{ mail.subject }}
    </p>
    <p>
        <strong>{% trans "Text" %}:</strong><br/>{{ mail.text|linebreaks }}
    </p>
    <p>
        <strong>{% trans "Comment" %}:</strong> {{ mail.comment }}
    </p>

    <form method="post" action="">
        {% csrf_token %}

        <table class="table">
            <tr>
                <td>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                </td>
                <td><a href="{% url "tours_listmails" %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}
