{% extends "guidedtours/base_guildedtours.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete tour" %}: {{ participant }}{% endblock %}

{% block set_common_content %}
{% url "tours_view" tour.id as view %}
<p>
    {% blocktranslate trimmed with name=tour url=view %}
    Do you really want to delete the tour <a href="{{ url }}">{{ name }}</a>?
    {% endblocktranslate %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <table class="table">
        <tr>
            <td>
                <button
                    type="submit"
                    class="btn btn-danger"
                >
                    {% trans "Delete" %}
                </button>
            </td>
            <td>
                <a
                    href="{{ view }}"
                    class="btn btn-secondary"
                >
                    {% trans "Cancel" %}
                </a>
            </td>
        </tr>
    </table>
</form>
{% endblock %}
