{% extends "guidedtours/base.html" %}
{% load i18n %}

{% block title %}{% trans "Guided tour" %} - {% trans "Delete tour" %}{% endblock %}

{% block tourscontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Delete tour" %}: {{ participant }}
        </div>
        <div class="card-body">

            {% url "tours_view" tour.id as view %}
            <p>
                {% blocktrans trimmed with name=tour url=view %}
                    Do you really want to delete the tour <a href="{{ url }}">{{ name }}</a>?
                {% endblocktrans %}
            </p>
            <form method="post" action="">
                {% csrf_token %}

                <table class="table">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                        </td>
                        <td><a href="{{ view }}" class="btn btn-secondary">{% trans "Cancel" %}</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
