{% extends "guidedtours/base_guildedtours.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Edit tour" %}: {{ tour }}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form form %}
        </div>
    </div>

    <a
        class="btn btn-secondary"
        href="{% url "tours_view" tour.id %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-primary"
        type="submit"
    >{% trans "Submit" %}</button>
</form>
{% endblock %}
