{% extends "guidedtours/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Guided tour" %} - {% trans "Edit tour" %}{% endblock %}

{% block tourscontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Edit tour" %}: {{ tour }}
        </div>
        <div class="card-body">

            <form method="post" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-5">
                        {% bootstrap_form form %}
                    </div>
                </div>

                <table class="table">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                        </td>
                        <td><a href="{% url "tours_view" tour.id %}" class="btn btn-secondary">{% trans "Cancel" %}</a>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
{% endblock %}
