{% extends "guidedtours/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Guided tour" %} - {% trans "Filter participants" %}{% endblock %}

{% block tourscontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Filter participants" %}
        </div>
        <div class="card-body">
            <form method="post" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-5">
                        {% bootstrap_form filterform %}
                        <p>
                            <button type="submit" name="filterform"
                                    class="btn btn-secondary">{% trans "filter" %}</button>
                        </p>
                    </div>
                </div>

            </form>
        </div>
    </div>
{% endblock %}


