{% extends "guidedtours/base_guildedtours.html" %}
{% load i18n %}

{% block set_common_headercontent %}
{% blocktranslate trimmed with name=tour.name date=tour.date %}
List of participants for {{ name }} on {{ date }}
{% endblocktranslate %}
{% endblock %}

{% block set_common_content %}
<table class="table">
    <tr>
        <th>#</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "E-Mail" %}</th>
        <th>{% trans "Mobile phone" %}</th>
    </tr>
    {% for p in participants %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.surname }}</td>
        <td>{{ p.firstname }}</td>
        <td>{{ p.subject }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.phone }}</td>
    </tr>
    {% endfor %}
</table>

<h2>{% trans "Waiting list" %}</h2>
<table class="table">
    <tr>
        <th>#</th>
        <th>{% trans "Last name" %}</th>
        <th>{% trans "First name" %}</th>
        <th>{% trans "Subject" %}</th>
        <th>{% trans "E-Mail" %}</th>
        <th>{% trans "Mobile phone" %}</th>
    </tr>
    {% for p in waitinglist %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ p.surname }}</td>
        <td>{{ p.firstname }}</td>
        <td>{{ p.subject }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.phone }}</td>
    </tr>
    {% endfor %}
</table>

<p>
    <a href="{% url "tours_edit" tour.id %}">
        <strong>{% trans "Edit" %}</strong>
        <span class="glyphicon glyphicon-edit"></span>
    </a>
</p>
<p>
    <a href="{% url "tours_del" tour.id %}">
        <strong>{% trans "Delete" %}</strong>
        <span class="glyphicon glyphicon-trash"></span>
    </a>
</p>
{% endblock %}
