{% extends "guidedtours/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Guided tour" %} - {% trans "Send email" %}{% endblock %}

{% block tourscontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Send email" %}
        </div>
        <div class="card-body">

            <p>
                {% trans "Do you really want to send the following email to the participants below?" %}
            </p>
            <form method="post" action="">
                {% csrf_token %}

                <table class="table">
                    <tr>
                        <td>
                            <button type="submit" class="btn btn-secondary">{% trans "Send" %}</button>
                        </td>
                        <td><a href="{% url "tours_filter" %}" class="btn btn-secondary">{% trans "Cancel" %}</a></td>
                    </tr>
                </table>
            </form>
            <p>
                <strong>{% trans "From" %}</strong>: {{ from_email }}
            </p>
            <p>
                <strong>{% trans "To" %}</strong>: {% trans "see table below" %}
            </p>
            <p>
                <strong>{% trans "Subject" %}</strong>: {{ subject }}
            </p>
            <p>
                <strong>{% trans "Text" %}</strong>:<br/>{{ text|linebreaks|urlize }}
            </p>

            <table class="table">
                <thead>
                <tr>
                    <th>{% trans "First name" %}</th>
                    <th>{% trans "Surname" %}</th>
                    <th>{% trans "Subject" %}</th>
                    <th>{% trans "Status" %}</th>
                </tr>
                </thead>
                <tbody>
                {% for participant in participants %}
                    <tr>
                        <td>{{ participant.firstname }}</td>
                        <td>{{ participant.surname }}</td>
                        <td>{{ participant.subject }}</td>
                        <td>{{ participant.status }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

