{% extends "guidedtours/base_guildedtours.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Dashboard" %}{% endblock %}

{% block set_common_content %}
<h5>{% trans "Tour-status" %}</h5>
<canvas id='participants_by_group_chart'></canvas>
<canvas
    id="chartjs-3"
    class="chartjs"
    width="1160"
    height="580"
    style="display: block; height: 290px; width: 580px;"
></canvas>
{% endblock %}

{% block defered_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script>
        /* global Chart */
        /* eslint no-new: off */
        new Chart(document.getElementById('participants_by_group_chart'), {
            type: 'radar',
            data: {
                labels: {{ tour_labels|safe }},
                datasets: [
                    {
                        label: '{% trans "Capacity" %}',
                        data: {{ tour_capacity }},
                        fill: true,
                        backgroundColor: 'rgba(11,76,60,0.2)',
                        borderColor: '#1dd1a1',
                        pointBackgroundColor: '#1dd1a1',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: '#1dd1a1',
                    },
                    {
                        label: '{% trans "Registrations" %}',
                        data: {{ tour_registrations }},
                        fill: true,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: '#48dbfb',
                        pointBackgroundColor: '#48dbfb',
                        pointBorderColor: '#fff',
                        pointHoverBackgroundColor: '#fff',
                        pointHoverBorderColor: '#48dbfb',
                    },
                ],
            },
            options: {
                elements: {
                    line: {
                        tension: 0,
                        borderWidth: 4,
                    },
                },
                scale: {
                    ticks: {
                        min: 0,
                    },
                },
            },
        });
    </script>
{% endblock %}
