{% extends "settool_common/base.html" %}
{% load i18n %}

{% block content %}
    <h1>
        {% blocktrans with name=tour.name date=tour.date %}
            List of participants for {{ name }} on {{ date }}
        {% endblocktrans %}
    </h1>

    <table class="table">
        <tr>
            <th>#</th>
            <th>{% trans "Last Name" %}</th>
            <th>{% trans "First Name" %}</th>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "E-Mail" %}</th>
        </tr>
    {% for p in participants %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.surname }}</td>
            <td>{{ p.firstname }}</td>
            <td>{{ p.subject }}</td>
            <td>{{ p.email }}</td>
        </tr>
    {% endfor %}
    </table>

    <h2>{% trans "Waiting list" %}</h2>
    <table class="table">
        <tr>
            <th>#</th>
            <th>{% trans "Last Name" %}</th>
            <th>{% trans "First Name" %}</th>
            <th>{% trans "Subject" %}</th>
            <th>{% trans "E-Mail" %}</th>
        </tr>
    {% for p in waitinglist %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ p.surname }}</td>
            <td>{{ p.firstname }}</td>
            <td>{{ p.subject }}</td>
            <td>{{ p.email }}</td>
        </tr>
    {% endfor %}
    </table>

{% endblock %}
