{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block set_common_headercontent %}{% trans "Email details" %}: {{ mail }}{% endblock %}

{% block set_common_content %}
<table class="table table-hover">
    <tr>
        <th>{% trans "Email subject" %}</th>
        <td>{{ mail.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Text" %}</th>
        <td>{{ mail.text|linebreaks }}</td>
    </tr>
</table>

<div>
    <a
        class="btn btn-secondary"
        href="{% url "list_mail" %}"
    >{% trans "Back" %}</a>
    {% if perms.tutor.edit_tutors %}
    <a
        class="btn btn-primary"
        href="{% url "edit_mail" mail.id %}"
    >{% trans "Edit email" %}</a>
    <a
        class="btn btn-danger"
        href="{% url "del_mail" mail.id %}"
    >{% trans "Delete email template" %}</a>
    {% endif %}
</div>
{% endblock %}
