{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#emailTable').DataTable({
            columnDefs: [{ targets: 2, orderable: false }],
        });
    });
</script>
{% endblock %}

{% block set_common_headercontent %}
{% if mail_filter %}
{% blocktranslate %}List all {{ mail_filter }} email templates{% endblocktranslate %}
{% else %}
{% trans "List email templates" %}
{% endif %}
{% endblock %}

{% block set_common_content %}
{% if not mail_filter %}
<div class='row'>
    <div class='col-sm p-1'>
        <a
            class="btn btn-secondary btn-block"
            href="{% url "mail_export" %}"
        >{% trans "Export e-mails as CSV" %}
            <span class="bi bi-file-spreadsheet"></span></a>
    </div>
    {% if user.is_superuser %}
    <div class='col-sm p-1'><a
            class="btn btn-danger btn-block"
            href="{% url "mail_import" %}"
        >{% trans "Override e-mails from CSV" %} <span class="bi bi-file-spreadsheet"></span></a>
    </div>
    {% endif %}
</div>
{% endif %}
<div class="mt-3 table-responsive">
    <table
        id="emailTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "Sender" %}</th>
                <th>{% trans "EMail Subject" %}</th>
                <th>{% trans "EMail Text" %}</th>
                <th>{% trans "Comment" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for mail in mails %}
            <tr>
                <td>{{ mail.sender }}</td>
                <td><a href="{% url "mail_view" mail.id %}">{{ mail.subject }}</a></td>
                <td>{{ mail.text|slice:":100" }}{% if mail.text|length > 100 %}...{% endif %}</td>
                <td>{{ mail.comment|slice:":50" }}{% if mail.text|length > 50 %}...{% endif %}</td>
                <td>
                    <a href="{% url "mail_edit" mail.id %}"><span class="bi bi-pencil-square"></span></a>
                    <a href="{% url "mail_delete" mail.id %}"><span class="bi bi-trash-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
