{% extends "bags/base_bags.html" %}
{% load static %}
{% load i18n %}
{% load bootstrap5 %}


{% block set_common_headercontent %}{% trans "List all giveaways" %}{% endblock %}

{% block set_common_content %}
<div
    class="modal fade"
    tabindex="-1"
    role="dialog"
    id="modal"
>
    <div
        class="modal-dialog"
        role="document"
    >
        <div class="modal-content"></div>
    </div>
</div>
<div id='replacement_target_condensed'>{% include "bags/giveaways/giveaway/list/prefabs/condensed_grouped_giveaways.html" %}</div>
<div id='replacement_target_ungrouped'>{% include "bags/giveaways/giveaway/list/prefabs/ungrouped_giveaways.html" %}</div>
{% endblock %}

{% block defered_script %}
<script src="{% static 'js/jquery.bootstrap.modal.forms.min.js' %}"></script>
<script>
    $(document).ready(() => {
        // Update giveaway asynchronous button
        /* eslint no-useless-escape: off */
        const asyncSuccessMessageUpdate = `
            <div
                style='position:fixed;top:0;z-index:10000;width:100%;border-radius:0;'
                class='alert alert-icon alert-success alert-dismissible fade show mb-0' role='alert'
            >
                {% trans "Success: Giveaway-Distribution was updated." %}
                <button type='button' class='btn-close' data-dismiss='alert' aria-label='Close'>
                    <span aria-hidden='true'>&times;</span>
                </button>
            </div>
            <script>
                $('.alert').fadeTo(2000, 500).slideUp(500, function () {$('.alert').slideUp(500).remove();});
            <\/script>`;

        // modal form
        function updateGiveawayModalFormUngrouped() {
            $('.update_giveaway_ungrouped').each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url'),
                    asyncUpdate: true,
                    asyncSettings: {
                        closeOnSubmit: true,
                        successMessage: asyncSuccessMessageUpdate,
                        dataUrl: '{% url "bags:giveaway_data_ungrouped" %}',
                        dataElementId: '#replacement_target_ungrouped',
                        dataKey: 'giveaways',
                        addModalFormFunction: updateGiveawayModalFormUngrouped,
                    },
                });
            });
            $('.dataTableUngrouped').DataTable({
                columnDefs: [{ targets: 5, orderable: false }],
                paging: false,
                searching: false,
            });
        }

        updateGiveawayModalFormUngrouped();

        // modal form
        function updateGiveawayModalFormCondensed() {
            $('.update_giveaway_condensed').each(function () {
                $(this).modalForm({
                    formURL: $(this).data('form-url'),
                    asyncUpdate: true,
                    asyncSettings: {
                        closeOnSubmit: true,
                        successMessage: asyncSuccessMessageUpdate,
                        dataUrl: '{% url "bags:giveaway_data_condensed_grouped" %}',
                        dataElementId: '#replacement_target_condensed',
                        dataKey: 'giveaways',
                        addModalFormFunction: updateGiveawayModalFormCondensed,
                    },
                });
            });
            $('.dataTableCondensed').DataTable({
                paging: false,
                searching: false,
            });
        }

        updateGiveawayModalFormCondensed();

        // Hide message
        $('.alert')
            .fadeTo(2000, 500)
            .slideUp(500, function () {
                $('.alert').slideUp(500);
            });
    });
</script>
{% endblock %}
