{% extends "common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "SET" %} - {% trans "Mail Details" %}{% endblock %}

{% block commoncontent %}
    <h1>{{ mail }}</h1>

    <div class="row ">
        <div class="col-lg-12">
            <table class="table table-hover">
                <tr>
                    <th>{% trans "Subject" %}</th>
                    <td>{{ mail.subject }}</td>
                </tr>
                <tr>
                    <th>{% trans "Text" %}</th>
                    <td>{{ mail.text }}</td>
                </tr>
                {% if perms.tutor.edit_tutors %}
                    <tr>
                        <th>{% trans "Edit" %}</th>
                        <td>
                            <a href="{% url "mail_edit" mail.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Delete" %}</th>
                        <td>
                            <a href="{% url "mail_delete" mail.id %}"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
