{% extends "fahrt/base_fahrt.html" %}
{% load static %}
{% load task_extras %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block  set_common_headercontent %}{% trans "Add Transport" %}{% endblock %}

{% block set_common_content %}
{% for transport_name_pl,transport_name, transport_type, transports_of_type in transport_types %}
<h2 class='card-title'>{{ transport_name_pl }}</h2>
<div class="container-fluid mb-3">
    <div class="row flex-row flex-nowrap overflow-auto">
        {% for transport in transports_of_type %}
        <div
            class="card card-block"
            style='min-width: 30rem;max-width: 30rem;'
        >
            <div class='card-header'>{{ transport_name }} {{ forloop.counter }}</div>
            <div
                class='card-body'
                style='padding: 1rem;'
            >
                <div class='table-responsive'>
                    <table class='table table-hover table-borderless'>
                        <tbody>
                            <tr
                                {% if transport.creator and calling_participant == transport.creator %}class="table-primary"
                                {% endif %}
                            >
                                <th>{% trans "Organisor/Driver:" %}</th>
                                <td>
                                    {% if transport.creator %}

                                    {% if not calling_participant %}
                                    <a href='{% url "fahrt:view_participant" transport.creator.id %}'>{{ transport.creator }}</a>
                                    {% elif transport.creator.publish_contact_to_other_paricipants %}
                                    {{ transport.creator }}
                                    {% else %}
                                    {% trans "Hidden" %}
                                    {% endif %}

                                    {% if calling_participant == transport.creator %}
                                    {% trans "[Me]" %}
                                    {% endif %}

                                    {% else %}
                                    {% trans "[Deleted]" %}
                                    {% endif %}

                                    {% if not calling_participant and transport.creator %}
                                    <a href='{% url "fahrt:edit_transport_participant_by_management" transport.creator.id %}'><span class='bi bi-pencil'></span></a>
                                    <a href='{% url "fahrt:del_transport_participant_by_management" transport.creator.id %}'><span class='bi bi-trash'></span></a>
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "Contact:" %}</th>
                                <td>
                                    {% if transport.creator %}
                                    {% if not calling_participant or transport.creator.publish_contact_to_other_paricipants %}
                                    {{ transport.creator.mobile|default_if_none:transport.creator.phone|default_if_none:transport.creator.email }}
                                    {% else %}
                                    {% trans "Hidden" %}
                                    {% endif %}
                                    {% else %}
                                    {% trans "[Deleted]" %}
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <th>{% trans "Meeting-Place:" %}</th>
                                <td>{{ transport.departure_place|default:"n.A." }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Departure:" %}</th>
                                <td>{{ transport.deparure_time|default:"n.A." }}</td>
                            </tr>
                            <tr>
                                <th>{% trans "Departure for return:" %}</th>
                                <td>{{ transport.return_departure_time|default:"n.A." }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                {% if transport.places > 1 %}
                <div class='table-responsive'>
                    <table class='table table-hover'>
                        <thead>
                            <tr>
                                {% if not calling_participant %}
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Contact" %}</th>
                                <th><span class='bi bi-lightning'></span></th>
                                {% else %}
                                <th>#</th>
                                <th>{% trans "Name" %}</th>
                                <th>{% trans "Contact" %}</th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for participant in transport.participant_set.all %}
                            {% if participant.id != transport.creator.id %}
                            <tr
                                {% if calling_participant == participant %}class="table-primary"
                                {% endif %}
                            >
                                {% if not not calling_participant %}
                                <td>{{ forloop.counter }}</td>
                                {% endif %}
                                <td>
                                    {% if not calling_participant %}
                                    <a href='{% url "fahrt:view_participant" participant.id %}'>{{ participant }}</a>
                                    {% elif participant.publish_contact_to_other_paricipants %}
                                    {{ participant }}
                                    {% else %}
                                    {% trans "Hidden" %}
                                    {% endif %}

                                    {% if calling_participant == participant %}
                                    {% trans "[Me]" %}
                                    {% endif %}
                                </td>
                                <td>
                                    {% if participant.publish_contact_to_other_paricipants or not calling_participant %}
                                    {{ participant.mobile|default_if_none:participant.phone|default_if_none:participant.email }}
                                    {% else %}
                                    {% trans "Hidden" %}
                                    {% endif %}
                                </td>
                                {% if not calling_participant %}
                                <td>
                                    <a href='{% url "fahrt:edit_transport_participant_by_management" participant.id %}'><span class='bi bi-pencil'></span></a>
                                    <a href='{% url "fahrt:del_transport_participant_by_management" participant.id %}'><span class='bi bi-trash'></span></a>
                                </td>
                                {% endif %}
                            </tr>
                            {% endif %}
                            {% endfor %}
                            {% for _ in transport.places|subtract:transport.participant_set.count|subtract:1|times %}
                            <tr>
                                {% if not calling_participant %}
                                <td class='table-info'><a href='{% url "fahrt:add_transport_participant_by_management" transport.id %}'><span class='bi bi-plus'></span></a></td>
                                <td class='table-info'><a href='{% url "fahrt:add_transport_participant_by_management" transport.id %}'><span class='bi bi-plus'></span></a></td>
                                <td class='table-info'></td>
                                {% else %}
                                <td class='table-info'></td>
                                <td class='table-info'><a href='{% url "fahrt:add_transport_participant" calling_participant.id transport.pk %}'><span class='bi bi-plus'></span></a></td>
                                <td class='table-info'><a href='{% url "fahrt:add_transport_participant" calling_participant.id transport.pk %}'><span class='bi bi-plus'></span></a></td>
                                {% endif %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% else %}
                {% trans "This Transport-option does only offer one place" %}
                {% endif %}
            </div>
            <div
                class='card-footer'
                style='padding: 1rem;'
            >
                <a
                    class='btn {% if calling_participant.transportation == transport %}btn-primary{% else %}btn-secondary{% endif %}'
                    href='{% if calling_participant %}{% url "fahrt:transport_chat" calling_participant.id transport.pk %}{% else %}{% url "fahrt:transport_chat_by_management" transport.pk %}{% endif %}'
                >
                    {% trans "Chatwall" %}
                    {% if transport.transportationcomment_set.count == 0 %}
                    <span class='bi bi-chat-fill'></span>
                    {% else %}
                    <span style='position: relative;padding-right: 10px;'>
                        <span class='bi bi-chat-fill'></span>
                        <span style='position: absolute;top: -4px;left: 11px;background-color: var(--primary);color: #fff;border-radius: 3px;padding: 1px 3px;font: 10px Verdana, sans-serif;'>{{ transport.transportationcomment_set.count }}</span>
                    </span>
                    {% endif %}
                </a>
            </div>
        </div>
        {% endfor %}
        <div
            class="card card-block"
            style='min-width: 30rem;max-width: 30rem;'
        >
            <div class='card-header'>
                {% blocktrans trimmed with transport_name=transport_name %}
                Add {{ transport_name }}
                {% endblocktrans %}
            </div>
            <a href='{% if not calling_participant %}{% url "fahrt:add_transport_option_by_management" transport_type %}{% else %}{% url "fahrt:add_transport_option" calling_participant.id transport_type %}{% endif %}'>
                <div class='card-body text-center flex align-content-center '>
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="20rem"
                        viewBox="0 0 16 16"
                    >
                        <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"></path>
                    </svg>
                </div>
            </a>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
