{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_navigation %}
{% if perms.tutors.edit_tutors %}
<a
    class="nav-link {% active_link "tutors:dashboard" %}"
    href="{% url "tutors:dashboard" %}"
>{% trans "Dashboard" %}</a>

<h4 class="navbar-text">{% trans "Sign up" %}</h4>
<a
    class="nav-link {% active_link "tutors:collaborator_signup" %}"
    href="{% url "tutors:collaborator_signup" %}"
>{% trans "Go to Collaborator-Sign-Up" %}</a>
<a
    class="nav-link {% active_link "tutors:tutor_signup" %}"
    href="{% url "tutors:tutor_signup" %}"
>{% trans "Go to Tutor-Sign-Up" %}</a>

<h4 class="navbar-text">{% trans "Events" %}</h4>
<a
    class="nav-link {% active_link "tutors:list_event" %}"
    href="{% url "tutors:list_event" %}"
>{% trans "List all events" %}</a>
<a
    class="nav-link {% active_link "tutors:add_event" %}"
    href="{% url "tutors:add_event" %}"
>{% trans "Add an event" %}</a>

<h4 class="navbar-text">{% trans "Tasks" %}</h4>
<a
    class="nav-link {% active_link "tutors:list_task" %}"
    href="{% url "tutors:list_task" %}"
>{% trans "List all tasks" %}</a>
<a
    class="nav-link {% active_link "tutors:add_task" %}"
    href="{% url "tutors:add_task" %}"
>{% trans "Add a task" %}</a>

<h4 class="navbar-text">{% trans "Tutors" %}</h4>
<a
    class="nav-link {% active_link "tutors:list_status_all" %}"
    href="{% url "tutors:list_status_all" %}"
>{% trans "All tutors" %}</a>
<a
    class="nav-link {% active_link "tutors:list_status_accepted" %}"
    href="{% url "tutors:list_status_accepted" %}"
>{% trans "Accepted tutors" %}</a>
<a
    class="nav-link {% active_link "tutors:list_status_active" %}"
    href="{% url "tutors:list_status_active" %}"
>{% trans "Open tutors" %}</a>
<a
    class="nav-link {% active_link "tutors:list_status_declined" %}"
    href="{% url "tutors:list_status_declined" %}"
>{% trans "Declined tutors" %}</a>
<a
    class="nav-link {% active_link "tutors:list_status_inactive" %}"
    href="{% url "tutors:list_status_inactive" %}"
>{% trans "Tutors without Email-verification" %}</a>
<a
    class="nav-link {% active_link "tutors:list_status_employee" %}"
    href="{% url "tutors:list_status_employee" %}"
>{% trans "List Collaborators" %}</a>

<h4 class="navbar-text">{% trans "Requirements" %}</h4>
<a
    class="nav-link {% active_link "tutors:list_requirements" %}"
    href="{% url "tutors:list_requirements" %}"
>{% trans "List all requirements" %}</a>
<a
    class="nav-link {% active_link "tutors:add_requirement" %}"
    href="{% url "tutors:add_requirement" %}"
>{% trans "Add a requirement" %}</a>

<h4 class="navbar-text">{% trans "Settings" %}</h4>
<a
    class="nav-link {% active_link "tutors:general_settings" %}"
    href="{% url "tutors:general_settings" %}"
>{% trans "General settings" %}</a>
<a
    class="nav-link {% active_link "tutors:tutor_settings" %}"
    href="{% url "tutors:tutor_settings" %}"
>{% trans "Tutor settings" %}</a>
{% else %}
<h4 class="navbar-text">{% trans "You dont have permission to view this page" %}</h4>
{% endif %}
{% endblock %}
