{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    {% if perms.tutors.edit_tutors %}
        <div class="row">
        <div class="col-md-3 wrap sidebar">
            <hr>
            <h4>{% trans "Events" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'event_list' %}">{% trans "All" %}</a>
                <a class="nav-item" href="{% url 'event_add' %}">{% trans "Add" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Tasks" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'task_list' %}">{% trans "All" %}</a>
                <a class="nav-item" href="{% url 'task_add' %}">{% trans "Add" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Tutors" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'tutor_list' %}">{% trans "All" %}</a>
                <a class="nav-item" href="{% url 'tutor_list_status' 'accepted' %}">{% trans "Accepted" %}</a>
                <a class="nav-item" href="{% url 'tutor_list_status' 'active' %}">{% trans "Open" %}</a>
                <a class="nav-item" href="{% url 'tutor_list_status' 'declined' %}">{% trans "Declined" %}</a>
                <a class="nav-item" href="{% url 'tutor_list_status' 'inactive' %}">{% trans "Inactive" %}</a>
                <a class="nav-item" href="{% url 'tutor_list_status' 'employee' %}">{% trans "Employees" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Requirements" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'requirement_list' %}">{% trans "All" %}</a>
                <a class="nav-item" href="{% url 'requirement_add' %}">{% trans "Add" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Settings" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'tutors_settings_general' %}">{% trans "General" %}</a>
                <a class="nav-item" href="{% url 'tutors_settings_tutors' %}">{% trans "Tutors" %}</a>
            </nav>
        </div>
        <div class="col-md-9">
    {% else %}
        <div class="col-md-12">
    {% endif %}
{% block tutorcontent %}
{% endblock %}
</div>
{% if perms.tutors.edit_tutors %}
    </div>
{% endif %}
{% endblock %}
