{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% block head %}
<script>
    $(document).ready(() => {
        $('table.dataTable').DataTable({
            paging: false,
        });
    });
</script>
{% endblock %}

{% block set_common_headercontent %}
{% trans "Dashboard" %}
{% endblock %}
{% block set_common_content %}
<div class='row'>
    <div class="col-xl mt-2">
        <h5
            class="card-title"
            style="margin-bottom: -2rem"
        >{% trans "Next upcoming 5 events" %}</h5>
        <div class="table-responsive">
            <table
                id="upcomingEventsTable"
                class="table dataTable"
            >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Start" %}</th>
                        <th>{% trans "End" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for event in events %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "tutors:view_event" event.id %}">{{ event.name }}</a></td>
                        <td>{{ event.begin }}</td>
                        <td>{{ event.end }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-xl mt-2">
        <h5
            class="card-title"
            style="margin-bottom: -2rem"
        >{% trans "Next upcoming 5 tasks" %}</h5>
        <div class="table-responsive">
            <table
                id="upcomingTasksTable"
                class="table dataTable"
            >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Start" %}</th>
                        <th>{% trans "End" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in tasks %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url "tutors:view_task" task.id %}">{{ task.name }}</a></td>
                        <td>{{ task.begin }}</td>
                        <td>{{ task.end }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class='row'>
    <div class="col-xl mt-2">
        <h5 class="card-title">{% trans "Status" %}</h5>
        <div class="table-responsive">
            <table
                id="statusTable"
                class="table table-bordered"
            >
                <tr>
                    <th>{% trans "# Missing Mails" %}</th>
                    <td>{{ missing_mails }}</td>
                </tr>
                <tr>
                    <th>{% trans "# Accepted Tutors" %}</th>
                    <td>{{ accepted_tutors }}</td>
                </tr>
                <tr>
                    <th>{% trans "# Waiting Tutors" %}</th>
                    <td>{{ waiting_tutors }}</td>
                </tr>
            </table>
        </div>
    </div>
    <div class="col-xl mt-2">
        <h5
            class="card-title"
            style="margin-bottom: -2rem"
        >{% trans "Subjects" %}</h5>
        <div class="table-responsive">
            <table
                id="studySubjectsTable"
                class="table dataTable"
            >
                <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Subject" %}</th>
                        <th>{% trans "Is" %}</th>
                        <th>{% trans "Want" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tutor_count,wanted_subject in subject_counts.items %}
                    <tr class="{% if w.0 < w.1 %}table-danger{% elif w.0 >= w.1 %}table-success{% endif %}">
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tutor_count }}</td>
                        <td>{{ wanted_subject.0 }}</td>
                        <td>{{ wanted_subject.1 }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}
