{% extends "fahrt/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Sign up" %}{% endblock %}

{% block fahrtcontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Sign up for the SET-Fahrt" %}
        </div>
        <div class="card-body">

            <form method="post" action="">
                {% csrf_token %}

                <div class="row">
                    <div class="col-xs-12 col-lg-5">
                        {% bootstrap_form form %}
                    </div>
                </div>

        <button type="submit" class="btn btn-default">{% trans "Submit" %}</button>
    </form>
{% endblock %}
