{% extends "settool_common/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block content %}
    <div class="row">
        <div class="col-md-3 wrap sidebar">
            <h4>{% trans "Public" %}</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'fahrt_signup' %}">{% trans "Sign up" %}</a></li>
                <li><a href="{% url 'fahrt_date' %}">{% trans "Change date" %}</a></li>
            </ul>
            <h4>{% trans "Participants" %}</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'fahrt_list_registered' %}">{% trans "registered" %}</a></li>
                <li><a href="{% url 'fahrt_list_confirmed' %}">{% trans "confirmed" %}</a></li>
                <li><a href="{% url 'fahrt_list_cancelled' %}">{% trans "cancelled" %}</a></li>
            </ul>
            <h4>{% trans "Mails" %}</h4>
            <ul class="nav nav-pills nav-stacked">
                <li><a href="{% url 'fahrt_filter' %}">{% trans "Filter participants/Send emails" %}</a></li>
                <li><a href="{% url 'fahrt_listmails' %}">{% trans "List email templates" %}</a></li>
                <li><a href="{% url 'fahrt_addmail' %}">{% trans "Add email template" %}</a></li>
            </ul>
        </div>
        <div class="col-md-9">
            {% block fahrtcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
