{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_navigation %}
<a
    class="nav-link {% active_link 'fahrt_index' %}"
    href="{% url 'fahrt_index' %}"
>{% trans "Dashboard" %}</a>

<h4 class="navbar-text">{% trans "General" %}</h4>
<a
    class="nav-link {% active_link 'fahrt_signup_internal' %}"
    href="{% url 'fahrt_signup_internal' %}"
>{% trans "Add participant" %}</a>

<h4 class="navbar-text">{% trans "Participants" %}</h4>
<a
    class="nav-link {% active_link 'fahrt_list_registered' %}"
    href="{% url 'fahrt_list_registered' %}"
>{% trans "Registered participants" %}</a>
<a
    class="nav-link {% active_link 'fahrt_list_confirmed' %}"
    href="{% url 'fahrt_list_confirmed' %}"
>{% trans "Confirmed participants" %}</a>
<a
    class="nav-link {% active_link 'fahrt_list_waitinglist' %}"
    href="{% url 'fahrt_list_waitinglist' %}"
>{% trans "Waitinglist " %}</a>
<a
    class="nav-link {% active_link 'fahrt_list_cancelled' %}"
    href="{% url 'fahrt_list_cancelled' %}"
>{% trans "Cancelled participants" %}</a>

<h4 class="navbar-text">{% trans "Payment" %}</h4>
<a
    class="nav-link {% active_link 'fahrt_finanz_simple' %}"
    href="{% url 'fahrt_finanz_simple' %}"
>{% trans "Simplified payment processing" %}</a>
<a
    class="nav-link {% active_link 'fahrt_finanz_automated' %}"
    href="{% url 'fahrt_finanz_automated' %}"
>{% trans "Automated payment processing" %}</a>

<h4 class="navbar-text">{% trans "Mails" %}</h4>
<a
    class="nav-link {% active_link 'fahrt_listmails' %}"
    href="{% url 'fahrt_listmails' %}"
>{% trans "List email templates" %}</a>
<a
    class="nav-link {% active_link 'fahrt_filter' %}"
    href="{% url 'fahrt_filter' %}"
>{% trans "Filter participants/ Send emails" %}</a>
<a
    class="nav-link {% active_link 'fahrt_addmail' %}"
    href="{% url 'fahrt_addmail' %}"
>{% trans "Add email template" %}</a>

<h4 class="navbar-text">{% trans "Settings" %}</h4>
<a
    class="nav-link {% active_link 'fahrt_date' %}"
    href="{% url 'fahrt_date' %}"
>{% trans "General settings" %}</a>
{% endblock %}
