{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}
    <div class="row">
        <div class="col-md-3 wrap sidebar">
            <hr>
            <h4>{% trans "General" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'fahrt_signup_internal' %}">{% trans "Sign up" %}</a>
                <a class="nav-item" href="{% url 'fahrt_date' %}">{% trans "Change date" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Participants" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'fahrt_list_registered' %}">{% trans "registered" %}</a>
                <a class="nav-item" href="{% url 'fahrt_list_confirmed' %}">{% trans "confirmed" %}</a>
                <a class="nav-item" href="{% url 'fahrt_list_waitinglist' %}">{% trans "waitinglist" %}</a>
                <a class="nav-item" href="{% url 'fahrt_list_cancelled' %}">{% trans "cancelled" %}</a>
            </nav>
            <hr>
            <h4>{% trans "Mails" %}</h4>
            <nav class="nav flex-column">
                <a class="nav-item" href="{% url 'fahrt_filter' %}">{% trans "Filter participants/Send emails" %}</a>
                <a class="nav-item" href="{% url 'fahrt_listmails' %}">{% trans "List email templates" %}</a>
                <a class="nav-item" href="{% url 'fahrt_addmail' %}">{% trans "Add email template" %}</a>
            </nav>
        </div>
        <div class="col-md-9">
            {% block fahrtcontent %}
            {% endblock %}
        </div>
    </div>
{% endblock %}
