{% extends "settool_common/base.html" %}
{% load i18n %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Delete Participant" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Delete participant" %}: {{ participant }}
    </h1>
    
    {% url "fahrt_viewparticipant" participant.id as viewparticipant %}
    <p>
        {% blocktrans trimmed with name=participant url=viewparticipant %}
        Do you really want to delete the participant <a href="{{ url }}">{{ name }}</a>?
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}
    
        <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-default btn-danger">{% trans "Delete" %}</button></td>
                <td><a href="{{ viewparticipant }}" class="btn btn-default">{% trans "Cancel" %}</a></td>
            </tr>
        <table>
    </form>
    
{% endblock %}
