{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}

{% block  set_common_headercontent %}{% trans "Delete Participant" %}{% endblock %}

{% block set_common_content %}
    {% url "fahrt_viewparticipant" participant.id as viewparticipant %}
    <p>
        {% blocktrans trimmed with name=participant url=viewparticipant %}
            Do you really want to delete the participant <a href="{{ url }}">{{ name }}</a>?
        {% endblocktrans %}
    </p>
    <form method="post" action="">
        {% csrf_token %}

        <table class="table">
            <tr>
                <td>
                    <button type="submit" class="btn btn-danger">{% trans "Delete" %}</button>
                </td>
                <td><a href="{{ viewparticipant }}" class="btn btn-secondary">{% trans "Cancel" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
