{% extends "fahrt/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Edit Participant" %}{% endblock %}

{% block fahrtcontent %}
    <h1>
        {% trans "Edit participant" %}: {{ participant }}
    </h1>

    <form method="post" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}
            </div>
        </div>

    <table class="table">
            <tr>
                <td><button type="submit" class="btn btn-primary">{% trans "Submit" %}</button></td>
                <td><a href="{% url "fahrt_viewparticipant" participant.id %}" class="btn btn-secundary">{% trans "Cancel" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
