{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block  set_common_headercontent %}{% trans "Dashboard" %}{% endblock %}

{% block set_common_content %}
<h4 class='card-title'>{% trans "All participants" %}</h4>
<h5>{% trans "Grouped by status" %}</h5>
<div
    class='container-md'
    style='max-width: 30rem;min-width: 10rem;min-height: 30rem;'
>
    <canvas id='participants_by_group_chart'></canvas>
</div>
<h4 class='card-title'>{% trans "Confirmed participants" %}</h4>
<div class='row'>
    <div class='col col-md'>
        <h5>{% trans "Grouped by nutrition" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_food_chart'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Grouped by gender" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_gender_chart'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "U18-status" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_age_chart'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Payment-status" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_paid_chart'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Non-Liability-status" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_non_liability_chart'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Master vs. Bachlor" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_by_bachlor_master'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Transportation-status" %}</h5>
        <div
            class='container-md'
            style='max-width: 20rem;min-width: 10rem;min-height: 30rem;'
        >
            <canvas id='cp_transportation_type'></canvas>
        </div>
    </div>
    <div class='col col-md'>
        <h5>{% trans "Subjects" %}</h5>
        <div
            class='container-xl'
            style='max-width: 70rem;min-width: 10rem;min-height: 40rem;'
        >
            <canvas id='cp_by_studies'></canvas>
        </div>
    </div>
</div>
{% endblock %}

{% block defered_script %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4"></script>
<script>
    /* global Chart */
    const chartOptions = { maintainAspectRatio: false };
    /* eslint no-new: off */
    new Chart(document.getElementById('participants_by_group_chart').getContext('2d'), {
        type: 'doughnut',
        data: {
            labels: {{ participants_by_group_labels|safe }},
            datasets: [
                {
                    data: {{ participants_by_group_data }},
                    backgroundColor: ['#1dd1a1', '#48dbfb', '#feca57', '#70a1ff'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_food_chart').getContext('2d'), {
        type: 'pie',
        data: {
            labels: {{ cp_by_food_labels|safe }},
            datasets: [
                {
                    data: {{ cp_by_food_data }},
                    backgroundColor: ['#1dd1a1', '#48dbfb', '#feca57'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_gender_chart').getContext('2d'), {
        type: 'pie',
        data: {
            labels: {{ cp_by_gender_labels|safe }},
            datasets: [
                {
                    data: {{ cp_by_gender_data }},
                    backgroundColor: ['#1dd1a1', '#48dbfb', '#feca57'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_age_chart').getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['{% trans "U18" %}', '{% trans "Ü18" %}'],
            datasets: [
                {
                    data: {{ cp_age }},
                    backgroundColor: ['#ff6b6b', '#1dd1a1'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_paid_chart').getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['{% trans "has paid" %}', '{% trans "has NOT paid" %}'],
            datasets: [
                {
                    data: {{ cp_paid }},
                    backgroundColor: ['#1dd1a1', '#ff6b6b'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_non_liability_chart').getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['{% trans "has submitted non-liability" %}', '{% trans "has NOT submitted non-liability" %}'],
            datasets: [
                {
                    data: {{ cp_non_liability }},
                    backgroundColor: ['#1dd1a1', '#ff6b6b'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_bachlor_master').getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['{% trans "Bachlor" %}', '{% trans "Master" %}'],
            datasets: [
                {
                    data: {{ cp_bachlor_master }},
                    backgroundColor: ['#48dbfb', '#00d2d3'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_transportation_type').getContext('2d'), {
        type: 'pie',
        data: {
            labels: ['{% trans "Car" %}', '{% trans "Train" %}', '{% trans "Not assigned" %}'],
            datasets: [
                {
                    data: {{ cp_by_transportation_type_data }},
                    backgroundColor: ['#ffcd56', '#3cb371', '#ff4500'],
                },
            ],
        },
        options: chartOptions,
    });

    /* eslint no-new: off */
    new Chart(document.getElementById('cp_by_studies').getContext('2d'), {
        type: 'pie',
        data: {
            labels: {{ cp_by_studies_labels|safe }},
            datasets: [
                {
                    data: {{ cp_by_studies_data }},
                    backgroundColor: [
                        '#1dd1a1',
                        '#feca57',
                        '#ff6b6b',
                        '#48dbfb',
                        '#00d2d3',
                        '#54a0ff',
                        '#ff9ff3',
                        '#c8d6e5',
                        '#f6e58d',
                        '#ffbe76',
                        '#ff7979',
                        '#badc58',
                        '#7ed6df',
                        '#95afc0',
                        '#ff7f50',
                        '#eccc68',
                        '#7bed9f',
                        '#70a1ff',
                        '#2ed573',
                        '#a4b0be',
                        '#f1f2f6',
                    ],
                },
            ],
        },
        options: chartOptions,
    });
</script>
{% endblock %}
