{% extends "fahrt/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Filter participants" %}{% endblock %}

{% block fahrtcontent %}
    <h1>
        {% trans "Filter participants" %}
    </h1>

    <form method="post" action="">
        {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form filterform %}
            <p><button type="submit" name="filterform" class="btn btn-secundary">{% trans "filter" %}</button></p>
        </div>
    </div>

    </form>
{% endblock %}


