{% extends "fahrt/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
    <script>
        $(function () {
            $("#fahrtTable").tablesorter({
                theme: "bootstrap",
                widgets: ['zebra', 'columns', 'uitheme'],
                headerTemplate: '{content} {icon}',
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Filtered participants" %}{% endblock %}

{% block fahrtcontent %}
    <div class="card">
        <div class="card-header">
            {% trans "Filtered participants" %}
        </div>
        <div class="card-body">

            <form method="post" action="">
                {% csrf_token %}
                {{ participantforms.management_form }}

                <div class="row">
                    <div class="col-xs-12 col-lg-5">
                        {% bootstrap_form form %}
                        <p>
                            <button type="submit" name="mailform"
                                    class="btn btn-secondary">{% trans "Send emails" %}</button>
                        </p>
                    </div>
                </div>

                <p></p>

                <table id="fahrtTable" class="table tablesorter">
                    <thead>
                    <tr>
                        <th></th>
                        <th>{% trans "First name" %}</th>
                        <th>{% trans "Surname" %}</th>
                        <th>{% trans "Status" %}</th>
                        <th>{% trans "Comment" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for participant, select in participants %}
                        <tr>
                            <td>
                                {{ select.id.as_hidden }}
                                {{ select.selected }}
                            </td>
                            <td>
                                <a href="{% url "fahrt_viewparticipant" participant.id %}">{{ participant.firstname }}</a>
                            </td>
                            <td>
                                <a href="{% url "fahrt_viewparticipant" participant.id %}">{{ participant.surname }}</a>
                            </td>
                            <td>{{ participant.status }}</td>
                            <td>{{ participant.comment }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

            </form>
        </div>
    </div>
{% endblock %}


