{% extends "fahrt/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "SET-Fahrt" %} - {% trans "Participant Details" %}{% endblock %}

{% block fahrtcontent %}
    <h1>{{ participant }}</h1>

    <div class="row">
    <div class="col-sm-4">
    <table class="table">
    <tr>
        <th>{% trans "Gender" %}</th>
        <td>{{ participant.gender }}</td>
    </tr>
    <tr>
        <th>{% trans "First name" %}</th>
        <td>{{ participant.firstname }}</td>
    </tr>
    <tr>
        <th>{% trans "Surname" %}</th>
        <td>{{ participant.surname }}</td>
    </tr>
    <tr>
        <th>{% trans "U18" %}</th>
        {% if participant.u18 %}
            <td>
                <span style="color:red" class="glyphicon glyphicon-ok"></span>
            </td>
        {% else %}
            <td></td>
        {% endif %}
    </tr>
    <tr>
        <th>{% trans "Email" %}</th>
        <td>{{ participant.email }}</td>
    </tr>
    <tr>
        <th>{% trans "Phone" %}</th>
        <td>{{ participant.phone }}</td>
    </tr>
    <tr>
        <th>{% trans "Mobile phone" %}</th>
        <td>{{ participant.mobile }}</td>
    </tr>
    <tr>
        <th>{% trans "Subject" %}</th>
        <td>{{ participant.subject }}</td>
    </tr>
    <tr>
        <th>{% trans "Nutrition" %}</th>
        <td>{{ participant.nutrition }}</td>
    </tr>
    <tr>
        <th>{% trans "Allergies" %}</th>
        <td>{{ participant.allergies }}</td>
    </tr>
    <tr>
        <th>{% trans "Car" %}</th>
        {% if participant.car %}
            <td>
                <span style="color:green" class="glyphicon glyphicon-ok"></span>
                {{ participant.car_places }} {% trans "additional seats" %}
            </td>
        {% else %}
            <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
        {% endif %}
    </tr>
    </table>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-4">
    <table class="table">
    <tr>
        <th>{% trans "Non-liability submitted" %}</th>
        <td>
            {{ participant.non_liability }}
            <a href="{% url "fahrt_set_nonliability" participant.id %}"><span class="glyphicon glyphicon-log-in"></span></a>
        </td>
    </tr>
    <tr>
        <th>{% trans "Paid" %}</th>
        <td>
            {{ participant.paid }}
            <a href="{% url "fahrt_set_paid" participant.id %}"><span class="glyphicon glyphicon-log-in"></span></a>
        </td>
    </tr>
    <tr>
        <th>{% trans "Payment deadline" %}</th>
        <td>
            {{ participant.payment_deadline }}
            <a href="{% url "fahrt_set_payment_deadline_1" participant.id%}" class="btn btn-default">{% trans "1 week" %}</a>
            <br /><a href="{% url "fahrt_set_payment_deadline_2" participant.id%}" class="btn btn-default">{% trans "2 weeks" %}</a>
            <br /><a href="{% url "fahrt_set_payment_deadline_3" participant.id%}" class="btn btn-default">{% trans "3 weeks" %}</a>
        </td>
    </tr>
    <tr>
        <th>{% trans "Status" %}</th>
        <td>
            {{ participant.status }}
            {% if participant.status == "registered" %}
                <br /><a href="{% url "fahrt_confirm" participant.id %}" class="btn btn-default">{% trans "confirm" %}</a>
            {% elif participant.status == "confirmed" %}
                <br /><a href="{% url "fahrt_cancel" participant.id %}" class="btn btn-default">{% trans "cancel" %}</a>
            {% endif %}
        </td>
    </tr>
    <tr>
        <th>{% trans "Mailing list" %}</th>
        <td>
            {% if participant.mailinglist %}
                <span style="color:green" class="glyphicon glyphicon-ok"></span>
            {% else %}
                <span style="color:red" class="glyphicon glyphicon-remove"></span>
            {% endif %}
            <a href="{% url "fahrt_toggle_mailinglist" participant.id %}"><span class="glyphicon glyphicon-transfer"></span></a>
        </td>
    </tr>
    <tr>
        <th>{% trans "Comment" %}</th>
        <td>{{ participant.comment }}</td>
    </tr>
    <tr>
        <th>{% trans "Registration time" %}</th>
        <td>{{ participant.registration_time }}</td>
    </tr>
    <tr>
        <th>{% trans "Edit" %}</th>
        <td>
            <a href="{% url "fahrt_editparticipant" participant.id %}"><span class="glyphicon glyphicon-edit"></span></a>
        </td>
    </tr>
    <tr>
        <th>{% trans "Delete" %}</th>
        <td>
            <a href="{% url "fahrt_delparticipant" participant.id %}"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
    </tr>
    </table>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-4">
        <form method="post" action="">
            {% csrf_token %}
            {% bootstrap_form form %}
            <button type="submit" name="mailform" class="btn btn-default">{% trans "Send email" %}</button>
        </form>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
        <strong>Log:</strong>
        <ul>
            {% for entry in log_entries %}
                {% if entry.user %}
                    {% if entry.user.full_name %}
                        <li> {{entry.time}}, {{entry.user.full_name}}: {{entry.text}} </li>
                    {% else %}
                        <li> {{entry.time}}, {{entry.user}}: {{entry.text}} </li>
                    {% endif %}
                {% else %}
                    <li> {{entry.time}}, www: {{entry.text}} </li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>
    </div>

{% endblock %}
