{% extends "settool_common/settings/base_settings.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Add new Course-bundle" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}
    {% bootstrap_form form %}

    <a
        class="btn btn-secondary"
        href="{% url "list_course_bundles" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Add new Course-bundle" %}</button>
</form>
{% endblock %}
