{% extends "settool_common/settings/base_settings.html" %}
{% load bootstrap4 %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Edit Course-bundle" %} {{ course_bundle.name }}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}
    {% bootstrap_form form %}

    <a
        class="btn btn-secondary"
        href="{% url "course_bundle_list" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Save edited Course-bundle" %}</button>
</form>
{% endblock %}
