{% load static %}
<link
    href="{% static "favicons/people-fill.svg" %}"
    rel="icon"
    type="image/svg+xml"
>
<link
    href='{% static "favicons/apple-touch-icon.png" %}'
    rel='apple-touch-icon'
    sizes='180x180'
>
<link
    href='{% static "favicons/favicon-32x32.png" %}'
    rel='icon'
    sizes='32x32'
    type='image/png'
>
<link
    href='{% static "favicons/favicon-16x16.png" %}'
    rel='icon'
    sizes='16x16'
    type='image/png'
>
<link
    color='#000000'
    href='{% static "favicons/safari-pinned-tab.svg" %}'
    rel='mask-icon'
>
<link
    href='{% static "favicons/favicon.ico" %}'
    rel='shortcut icon'
>
<meta
    content='#2d89ef'
    name='msapplication-TileColor'
>
<meta
    content='{% static "favicons/browserconfig.xml" %}'
    name='msapplication-config'
>
<meta
    content='#000000'
    name='theme-color'
>
