{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}

{% block  set_common_headercontent %}{% trans "Delete Participant" %}{% endblock %}

{% block set_common_content %}
{% url "fahrt_viewparticipant" participant.id as viewparticipant %}
<p>
    {% blocktranslate trimmed with name=participant url=viewparticipant %}
    Do you really want to delete the participant <a href="{{ url }}">{{ name }}</a>?
    {% endblocktranslate %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <button
        type="submit"
        class="btn btn-danger"
    >
        {% trans "Delete" %}
    </button>
    <a
        href="{{ viewparticipant }}"
        class="btn btn-secondary"
    >
        {% trans "Cancel" %}
    </a>
</form>
{% endblock %}
