{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
<script>
    $(document).ready(() => {
        $('#fahrtTable').DataTable();
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List confirmed participants" %}{% endblock %}

{% block set_common_content %}
<div class="table-responsive">
    <table
        id="fahrtTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "First name" %}</th>
                <th>{% trans "Surname" %}</th>
                <th>{% trans "Non-liability submitted" %}</th>
                <th>{% trans "Paid/Payment deadline" %}</th>
                <th>{% trans "Car" %}</th>
                <th>{% trans "U18" %}</th>
                <th>{% trans "Allergies" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for participant in participants %}
            <tr>
                <td><a href="{% url "fahrt_viewparticipant" participant.id %}">{{ participant.firstname }}</a></td>
                <td><a href="{% url "fahrt_viewparticipant" participant.id %}">{{ participant.surname }}</a></td>
                <td>{% include "true_false_span.html" with value=participant.non_liability %}</td>
                <td>
                    {% if participant.paid %}
                    {% include "true_false_span.html" with value=True %}
                    {% elif participant.payment_deadline %}
                    {% if participant.deadline_exceeded %}
                    {% include "true_false_span.html" with value=False %}
                    {% elif participant.deadline_soon %}
                    <span
                        style="color:darkorange"
                        class="glyphicon glyphicon-warning-sign"
                    ></span>&nbsp;
                    {% endif %}
                    {{ participant.payment_deadline }}
                    {% endif %}
                </td>
                <td>
                    {% include "true_false_span.html" with value=participant.car %}
                    {% if participant.car %}
                    {% blocktranslate trimmed with additional_seats=participant.car_places %}
                    {{ additional_seats }} additional seats
                    {% endblocktranslate %}
                    {% endif %}
                </td>
                <td>{% include "true_false_span.html" with value=participant.u18 inverted_colors=True %}</td>
                <td>{% include "true_false_span.html" with value=participant.allergies inverted_colors=True %}</td>
            </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total:</th>
                <th>
                    {% blocktranslate trimmed with number=number women=num_women %}
                    {{ number }}, thereof women: {{ women }}
                    {% endblocktranslate %}

                    {% if proportion_of_women < 5 %}
                    <span style='color: red;'>+_+</span>
                    {% elif proportion_of_women < 25 %}
                    <span style='color: red;'>:-(</span>
                    {% elif proportion_of_women < 40 %}
                    <span style='color: black;'>:-|</span>
                    {% else %}
                    <span style='color: green;'>:-)</span>
                    {% endif %}
                </th>
                <th>{{ non_liability }}</th>
                <th>{{ paid }}</th>
                <th>
                    {% blocktranslate trimmed with places=places cars=cars %}
                    {{ places }} places in {{ cars }} cars
                    {% endblocktranslate %}
                </th>
                <th>{{ u18s }}</th>
                <th>{{ allergies }}</th>
            </tr>
        </tfoot>
    </table>
</div>
{% endblock %}
