{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block  set_common_headercontent %}{% trans "Participant details" %}{% endblock %}

{% block set_common_content %}
<div class="row">
    <div class="col-sm-6">
        <table class="table table-hover">
            <tr>
                <th>{% trans "Gender" %}</th>
                <td>{{ participant.gender }}</td>
            </tr>
            <tr>
                <th>{% trans "First name" %}</th>
                <td>{{ participant.firstname }}</td>
            </tr>
            <tr>
                <th>{% trans "Surname" %}</th>
                <td>{{ participant.surname }}</td>
            </tr>
            <tr>
                <th>{% trans "U18" %}</th>
                <td>{% include "snippets/true_false_span.html" with value=participant.u18 inverted_colors=True %}</td>
            </tr>
            <tr>
                <th>{% trans "Subject" %}</th>
                <td>{{ participant.subject }}</td>
            </tr>
            <tr>
                <th>{% trans "Email" %}</th>
                <td>{{ participant.email }}</td>
            </tr>
            <tr>
                <th>{% trans "Mailing list" %}</th>
                <td>
                    {% include "snippets/true_false_span.html" with value=participant.mailinglist %}
                    <a href="{% url "fahrt:toggle_mailinglist" participant.id %}"><span class="bi bi-toggles"></span></a>
                </td>
            </tr>
            <tr>
                <th>{% trans "Phone" %}</th>
                <td>{{ participant.phone }}</td>
            </tr>
            <tr>
                <th>{% trans "Mobile phone" %}</th>
                <td>{{ participant.mobile }}</td>
            </tr>
            <tr>
                <th>{% trans "Nutrition" %}</th>
                <td>{{ participant.nutrition }}</td>
            </tr>
            <tr>
                <th>{% trans "Allergies" %}</th>
                <td>{{ participant.allergies }}</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-6">
        <table class="table table-hover">
            <tr>
                <th>{% trans "Non-liability submitted" %}</th>
                <td>
                    <div class='row'>
                        {{ participant.non_liability }}
                        <a href="{% url "fahrt:set_nonliability" participant.id %}"><span class="bi bi-person-check-fill"></span></a>
                    </div>
                    <div class='row'>
                        <a
                            class='btn btn-secondary'
                            href="{% url "fahrt:non_liability_form" participant.id %}"
                        >{% trans "Personalised Form" %} <span class="bi-file-earmark-person-fill"></span></a>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans "Paid" %}</th>
                <td>
                    {{ participant.paid }}
                    <a href="{% url "fahrt:set_paid" participant.id %}"><span class="bi bi-person-check-fill"></span></a>
                </td>
            </tr>
            <tr>
                <th>{% trans "Payment deadline" %}</th>
                <td>
                    <div class='col'>
                        <div class='row'>
                            {{ participant.payment_deadline }}
                        </div>
                        <div class='row mt-1'>
                            <div class='btn-group btn-block btn-group-sm'>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_payment_deadline" participant.id 1 %}"
                                >{% trans "1 week" %}</a>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_payment_deadline" participant.id 2 %}"
                                >{% trans "2 weeks" %}</a>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_payment_deadline" participant.id 3 %}"
                                >{% trans "3 weeks" %}</a>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans "Status" %}</th>
                <td>
                    <div class='col'>
                        <div class='row'>
                            {{ participant.status }}
                        </div>
                        <div class='row mt-1'>
                            {% if participant.status == "registered" %}
                            <div class='btn-group btn-block btn-group-sm'>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_status_confirmed" participant.id %}"
                                >{% trans "Confirm participant" %}</a>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_status_waitinglist" participant.id %}"
                                >{% trans "Add participant to waitinglist" %}</a>
                            </div>
                            {% elif participant.status == "confirmed" %}
                            <a
                                class="btn btn-secondary btn-block btn-sm"
                                href="{% url "fahrt:set_status_canceled" participant.id %}"
                            >{% trans "Cancel" %}</a>
                            {% elif participant.status == "waitinglist" %}
                            <div class='btn-group btn-block btn-group-sm'>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_status_confirmed" participant.id %}"
                                >{% trans "Confirm participant" %}</a>
                                <a
                                    class="btn btn-secondary"
                                    href="{% url "fahrt:set_status_canceled" participant.id %}"
                                >{% trans "Cancel" %}</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </td>
            </tr>
            <tr>
                <th>{% trans "Registration time" %}</th>
                <td>{{ participant.registration_time }}</td>
            </tr>
            {% if participant.status == "confirmed" %}
            <tr>
                <th>{% trans "Transportation" %}</th>
                <td>{% include "fahrt/snippets/transportation.html" with transportation=participant.transportation %}</td>
            </tr>
            {% endif %}
            <tr>
                <th>{% trans "Comment" %}</th>
                <td>{{ participant.comment }}</td>
            </tr>
        </table>
    </div>
</div>

<a
    class='btn btn-secondary'
    href="{% url "fahrt:main_index" %}"
>{% trans "Back" %}</a>
<a
    class='btn btn-primary'
    href='{% url "fahrt:edit_participant" participant.id %}'
>{% trans "Edit" %}</a>
<a
    class='btn btn-danger'
    href='{% url "fahrt:del_participant" participant.id %}'
>{% trans "Delete participant" %}</a>
{% if participant.status == "confirmed" %}
<a
    class='btn btn-danger'
    href='{% url "fahrt:transport_participant" participant.uuid %}'
>{% trans "View transportation as participant" %}</a>
{% endif %}

<div class="row mt-3">
    <div class="col-sm-4">
        <form
            method="post"
            action=""
        >
            {% csrf_token %}
            {% bootstrap_form form %}
            <button
                class="btn btn-warning"
                name="mailform"
                type="submit"
            >{% trans "Send email" %}</button>
        </form>
    </div>
    <div class="col-sm-1">
    </div>
    <div class="col-sm-6">
        <strong>Log:</strong>
        <ul>
            {% for entry in log_entries %}
            {% if entry.user %}
            {% if entry.user.full_name %}
            <li> {{ entry.time }}, {{ entry.user.full_name }}: {{ entry.text }} </li>
            {% else %}
            <li> {{ entry.time }}, {{ entry.user }}: {{ entry.text }} </li>
            {% endif %}
            {% else %}
            <li> {{ entry.time }}, www: {{ entry.text }} </li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>
</div>
{% endblock %}
