{% extends "base_single_card_layout.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Sign up for the SET-Fahrt" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form form %}
            {% include "privacy_policies/fahrt_privacy_policy.html" %}
        </div>
    </div>

    <button
        class="btn btn-primary"
        type="submit"
    >{% trans "Sign up" %}</button>
</form>
{% endblock %}

{% block defered_script %}
<script type="text/javascript">
    const car = $('#id_car');
    const car_places = $('#id_car_places').parent();
    car_places.toggle(car.is(':checked'));
    car.change(() => {
        car_places.toggle(car.is(':checked'));
    });
</script>
{% endblock %}
