{% extends "base_card_layout.html" %}
{% load active_link_tags %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block set_common_navigation %}

{% if perms.tutors.edit_tutors %}
<h4 class="navbar-text">{% trans "Management" %}</h4>
<a
    class="nav-link {% active_link "kalendar:list_dates_chronologically" %}"
    href="{% url "kalendar:list_dates_chronologically" %}"
>{% trans "List dates chronologically" %}</a>
<a
    class="nav-link {% active_link "kalendar:list_dates_grouped" %}"
    href="{% url "kalendar:list_dates_grouped" %}"
>{% trans "List dates by event" %}</a>
{% endif %}
{% endblock %}
