{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    <script>
        $(function () {
            $("#taskTable").tablesorter({
                theme: "bootstrap",
                widgets: ['zebra', 'columns', 'uitheme'],
                headerTemplate: '{content} {icon}',
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "SET Tutor" %} - {% trans "List of tasks" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "List of tasks" %}
    </h1>
    <div class="row">
        <div class="col-sm-12">
            <div class="table-responsive">
                <table id="taskTable" class="table tablesorter table-striped table-hover css-serial">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>{% trans "Event" %}</th>
                        <th>{% trans "Name" %}</th>
                        <th>{% trans "Begin" %}</th>
                        <th>{% trans "End" %}</th>
                        <th>{% trans "Meeting Point" %}</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for task in tasks %}
                        <tr>
                            <td></td>
                            <td>
                                {{ task.event.name }}
                            </td>
                            <td>
                                <a href="{% url "task_view" task.id %}">{{ task.name }}</a>
                            </td>
                            <td>
                                {{ task.begin }}
                            </td>
                            <td>
                                {{ task.end }}
                            </td>
                            <td>
                                {{ task.meeting_point }}
                            </td>
                            <td>
                                <a href="{% url "task_edit" task.id %}"><span
                                        class="glyphicon glyphicon-edit"></span></a>
                                <a href="{% url "task_delete" task.id %}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                                <a href="{% url "task_mail" task.id %}"><span
                                        class="glyphicon glyphicon-envelope"></span></a>
                                <a href="{% url "task_export" "pdf" task.id %}"><span
                                        class="glyphicon glyphicon-list"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

