{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block head %}
    <script>
        $(function () {
            $("#taskTable").tablesorter({
                theme: "bootstrap",
                widgets: ['zebra', 'columns', 'uitheme'],
                headerTemplate: '{content} {icon}',
                sortReset: true,
                sortRestart: true
            });
        });
    </script>
{% endblock %}

{% block title %}{% trans "SET Tutor" %} - {% trans "List of tasks" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "List of tasks" %}
    </h1>
    <div class="table-responsive">
        <table id="taskTable" class="table tablesorter table-striped table-hover">
            <thead>
            <tr>
                <th>{% trans "Name" %}</th>
                <th>{% trans "Begin" %}</th>
                <th>{% trans "End" %}</th>
                <th>{% trans "Meeting Point" %}</th>
            </tr>
            </thead>
            <tbody>
            {% for task in tasks %}
                <tr>
                    <td>
                        <a href="{% url "task_view" task.id %}">{{ task.name }}</a>
                    </td>
                    <td>
                        {{ task.begin }}
                    </td>
                    <td>
                        {{ task.end }}
                    </td>
                    <td>
                        {{ task.meeting_point }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}

