{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Send email" %} - {{ task.event.name }} - {{ task }}{% endblock %}

{% block set_common_content %}
<div class="row">
    <p>
        {% trans "Do you really want to send the following email to the tutors below?" %}
    </p>
    <p>
        <strong>{% trans "From" %}</strong>: {{ from }}
    </p>
    <p>
        <strong>{% trans "To" %}</strong>: {% trans "see table below" %}
    </p>
    <p>
        <strong>{% trans "Subject" %}</strong>: {{ subject }}
    </p>
    <p>
        <strong>{% trans "Text" %}</strong>:<br />{{ body|linebreaks|urlize }}
    </p>

    <form
        method="post"
        action=""
    >
        {% csrf_token %}

        <a
            class="btn btn-secondary"
            href="{% url "task_view" task.id %}"
        >{% trans "Cancel" %}</a>
        <button
            class="btn btn-warning"
            type="submit"
        >{% trans "Send mail" %} <span class="bi bi-envelope-fill"></span></button>

        {% bootstrap_form form %}
    </form>
</div>

<script type="text/javascript">
        $('select[name="mail_template"]').on('change', document, () => {
            window.location.href = `{% url "task_mail" task.id %}${$(this).val()}`;
        });
    </script>
{% endblock %}
