{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "SET Tutor" %} - {% trans "Task Details" %}{% endblock %}

{% block tutorcontent %}
    <h1>{{ task.event.name }} - {{ task }}</h1>

    <div class="row">
        <div class="col-sm-12 table-responsive">
            <table class="table table-hover">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Begin" %}</th>
                    <td>{{ task.begin }}</td>
                </tr>
                <tr>
                    <th>{% trans "End" %}</th>
                    <td>{{ task.end }}</td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}</th>
                    <td>{{ task.description }}</td>
                </tr>
                <tr>
                    <th>{% trans "Meeting Point" %}</th>
                    <td>{{ task.meeting_point }}</td>
                </tr>
                <tr>
                    <th>{% trans "Event" %}</th>
                    <td><a href="{% url "event_view" task.event.id %}">{{ task.event }}</a></td>
                </tr>
                <tr>
                    <th>Tutors (min: {{ task.min_tutors }}, max: {{ task.max_tutors }})</th>
                    <td>
                        {% if task.allowed_subjects.all|length == 0 %}
                            {% trans "No subjects." %}
                        {% else %}
                            <table>
                                <tr>
                                    <th>Subjects</th>
                                </tr>
                                {% for subject in task.allowed_subjects.all %}
                                    <tr>
                                        <td>{{ subject }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Requirements</th>
                    <td>
                        {% if task.requirements.all|length == 0 %}
                            {% trans "No requirements." %}
                        {% else %}
                            <table>
                                <tr>
                                    <th>Requirement</th>
                                </tr>
                                {% for requirement in task.requirements.all %}
                                    <tr>
                                        <td>{{ requirement }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th>Assigned</th>
                    <td>
                        {% if task.tutorassignment_set.all|length == 0 %}
                            {% trans "No tutor is assigned." %}
                        {% else %}
                        <table>
                            <tr>
                                <th>Tutor</th>
                            </tr>
                            {% for tutor in task.tutorassignment_set.all %}
                                <tr>
                                    <td><a href="{% url "tutor_view" tutor.tutor.id %}">{{ tutor }}</a></td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% endif %}
                    </td>
                </tr>
                {% if perms.tutor.edit_tutors %}
                    <tr>

                    </tr>

                     <tr>
                        <th>{% trans "Edit" %}</th>
                        <td>
                            <a href="{% url "task_edit" task.id %}"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Delete" %}</th>
                        <td>
                            <a href="{% url "task_delete" task.id %}"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
