{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "SET Tutor" %} - {% trans "Task Details" %}{% endblock %}

{% block tutorcontent %}
    <h1>{{ task }}</h1>

    <div class="row">
        <div class="col-sm-12">
            <table class="table">
                <tr>
                    <th>{% trans "Name" %}</th>
                    <td>{{ task.name }}</td>
                </tr>
                <tr>
                    <th>{% trans "Begin" %}</th>
                    <td>{{ task.begin }}</td>
                </tr>
                <tr>
                    <th>{% trans "End" %}</th>
                    <td>{{ task.end }}</td>
                </tr>
                <tr>
                    <th>{% trans "Description" %}</th>
                    <td>{{ task.description }}</td>
                </tr>
                <tr>
                    <th>{% trans "Meeting Point" %}</th>
                    <td>{{ task.meeting_point }}</td>
                </tr>
                {% if perms.tutor.edit_tutors %}
                    <tr>

                    </tr>

                     <tr>
                        <th>{% trans "Edit" %}</th>
                        <td>
                            <a href="{% url "task_edit" task.id %}"><span
                                    class="glyphicon glyphicon-edit"></span></a>
                        </td>
                    </tr>
                    <tr>
                        <th>{% trans "Delete" %}</th>
                        <td>
                            <a href="{% url "task_delete" task.id %}"><span
                                    class="glyphicon glyphicon-trash"></span></a>
                        </td>
                    </tr>
                {% endif %}
            </table>
        </div>
    </div>

{% endblock %}
