{% extends "bags/base_bags.html" %}
{% load i18n %}

{% block head %}
<script>
        $(document).ready(() => {
            $('.dataTable').DataTable({
                columnDefs: [
                    { targets: 5, orderable: false },
                    { targets: 6, orderable: false },
                ],
                paging: false,
            });
        });
    </script>
{% endblock %}

{% block set_common_headercontent %}{% trans "Manage Giveaway-arrival Status" %}{% endblock %}

{% block set_common_content %}
<form
    action=''
    method='post'
>
    {% csrf_token %}
    {{ giveawayforms.management_form }}
    <div class="table-responsive">
        <table
            id="giveawayTable"
            class="table dataTable"
        >
            <thead>
                <tr>
                    <th>{% trans "Company" %}</th>
                    <th>{% trans "Giveaway-title/group/tag" %}</th>
                    <th>{% trans "Giveaway-discription/ comment" %}</th>
                    <th>{% trans "Item Count" %}</th>
                    <th>{% trans "Arrival time (green=arrived)" %}</th>
                    <th>{% trans "Arrived" %}</th>
                    <th>{% trans "Actions" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for giveaway, select in giveaways_and_select %}
                <tr>
                    <td><a href="{% url "bags:view_company" giveaway.company.id %}">{{ giveaway.company }}</a></td>
                    <td><a href="{% url "bags:view_giveaway" giveaway.id %}">{{ giveaway.group }}</a></td>
                    <td><a href="{% url "bags:view_giveaway" giveaway.id %}">{{ giveaway.comment }}</a></td>
                    <td>{{ giveaway.item_count }}</td>
                    <td
                        {% if giveaway.arrived %}class='table-success'
                        {% endif %}
                    >{{ giveaway.arrival_time|default:"-" }}</td>
                    <td>{{ select.id.as_hidden }}{{ select.selected }}</td>
                    <td>
                        <a href="{% url "bags:edit_giveaway" giveaway.id %}"><span class="bi bi-pencil-square"></span></a>
                        <a href="{% url "bags:del_giveaway" giveaway.id %}"><span class="bi bi-trash-fill"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a
        class="btn btn-secondary"
        href="{% url "bags:main_index" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-warning"
        type="submit"
    >{% trans "Save changed arrival status" %}</button>
</form>
{% endblock %}



{% block defered_script %}
<link
    crossorigin="anonymous"
    href="https://cdn.jsdelivr.net/npm/bootstrap-switch-button@1.1.0/css/bootstrap-switch-button.min.css"
    integrity="sha256-ypWhj72bKMJnhLOs3AB3aSK0oAHZS8T/osRDHzqcmkU="
    rel="stylesheet"
>
<script
    crossorigin="anonymous"
    integrity="sha256-1IcUvAJcr0GQB5ygJgQpuLGbbwKwXpxsaJUkvcyDPK0="
    src="https://cdn.jsdelivr.net/npm/bootstrap-switch-button@1.1.0/dist/bootstrap-switch-button.min.js"
></script>
<script>
    $('.bootstrap-select').bootstrapSwitch();
</script>
{% endblock %}
