{% load i18n %}
{% if giveaway_groups %}
<h1 class='card-title'>{% trans "Grouped Giveaways" %}</h1>
<div class='row'>
    {% for giveaway_group, giveaway_set in giveaway_groups %}
    <div class='col-xl-4 p-1'>
        <div class='card'>
            <div class='card-header'>
                {{ giveaway_group.name }}
                <a href="{% url "bags:add_giveaway_to_giveaway_group" giveaway_group.id %}"><span class="bi bi-bag-plus-fill"></span></a>
                <a href="{% url "bags:edit_giveaway_group" giveaway_group.id %}"><span class="bi bi-pencil-square"></span></a>
                <a href="{% url "bags:del_giveaway_group" giveaway_group.id %}"><span class="bi bi-trash-fill"></span></a>
            </div>
            <div class='card-body'>
                <div class="table-responsive">
                    <table
                        id="giveawayTable"
                        class="table dataTable dataTableGrouped"
                    >
                        <thead>
                            <tr>
                                <th>{% trans "Giveaway-title" %}</th>
                                <th>{% trans "Distribution over bags" %}</th>
                                <th>{% trans "Arrival time (green=arrived)" %}</th>
                                <th>{% trans "Actions" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for giveaway in giveaway_set.all %}
                            <tr>
                                <td><a href="{% url "bags:view_giveaway" giveaway.id %}">{{ giveaway.name }}</a></td>
                                <td>
                                    <a
                                        type="button"
                                        class="update-giveaway_grouped"
                                        data-form-url="{% url 'bags:update_giveaway' giveaway.pk %}"
                                    >
                                        {{ giveaway.custom_per_bag_message }}
                                    </a>
                                </td>
                                <td
                                    {% if giveaway.arrived %}class='table-success'
                                    {% endif %}
                                >{{ giveaway.arrival_time|default:"-" }}</td>
                                <td>
                                    <a href="{% url "bags:edit_giveaway" giveaway.id %}"><span class="bi bi-pencil-square"></span></a>
                                    <a href="{% url "bags:del_giveaway" giveaway.id %}"><span class="bi bi-trash-fill"></span></a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
