{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block set_common_headercontent %}{% trans "Edit giveaway-group" %}: {{ giveaway_group }}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form form %}
        </div>
    </div>

    <a
        class="btn btn-secondary"
        href="{% url "bags:list_giveaway_group" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-primary"
        type="submit"
    >{% trans "Edit giveaway-group" %}</button>
</form>
{% endblock %}
