{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block head %}
<script>
        $(document).ready(() => {
            $('#giveawayGroupTable').DataTable({
                columnDefs: [{ targets: 1, orderable: false }],
            });
        });
    </script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List all giveaways-groups" %}{% endblock %}

{% block set_common_content %}
<div class="table-responsive">
    <table
        id="giveawayGroupTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "Giveaway-Groups' Title" %}</th>
                <th>{% trans "Total Item count" %}</th>
                <th>{% trans "Distribution per Bag" %}</th>
                <th>{% trans "Actions" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for giveaway_group in giveaway_groups %}
            <tr>
                <td><a href="{% url "bags:edit_giveaway_group" giveaway_group.id %}">{{ giveaway_group.name }}</a></td>
                <td>{{ giveaway_group.total_items }}</td>
                <td>{{ giveaway_group.custom_per_group_message }}</td>
                <td>
                    <a href="{% url "bags:edit_giveaway_group" giveaway_group.id %}"><span class="bi bi-pencil-square"></span></a>
                    <a href="{% url "bags:del_giveaway_group" giveaway_group.id %}"><span class="bi bi-trash-fill"></span></a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
