{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block content %}

{% block navigation-override-1 %}
<div class="row">
    <div class="col-lg-3 col-xl-2 mb-4">
        <div class="card">
            <div class="card-header">
                {% trans "Navigation" %}
            </div>
            <div class="card-body">
                <nav class="nav flex-column nav-pills">
                    {% block set_common_navigation %}{% endblock %}
                </nav>
            </div>
        </div>
    </div>
    <div class="col-lg-9 col-xl-10">
        {% endblock %}
        <div class="card">
            <div class="card-header">
                {% block set_common_headercontent %}{% endblock %}
            </div>
            <div class="card-body">
                {% block set_common_content %}{% endblock %}
            </div>
        </div>
        {% block navigation-override-2 %}
    </div>
</div>
{% endblock %}
{% endblock %}
