{% extends "base.html" %}
{% load django_bootstrap5 %}
{% load i18n %}

{% block content %}
<div class="container">
    <h1>{% trans "Login" %}</h1>

    <form
        action="{% url "login" %}"
        method="post"
        accept-charset="utf-8"
        role="form"
    >
        {% csrf_token %}

        {% bootstrap_form form layout="floating" %}

        <input
            type="hidden"
            name="next"
            value="{{ next }}"
        />
        <button
            type="submit"
            class="btn btn-primary"
        >{% trans "Login" %} <span class="bi bi-box-arrow-in-right"></span></button>
    </form>
</div>
{% endblock %}
