{% extends "fahrt/base_fahrt.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block  set_common_headercontent %}{% trans "Filter participants" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form filterform %}
        </div>
    </div>

    <button
        class="btn btn-primary"
        name="filterform"
        type="submit"
    >{% trans "Filter participants" %}</button>
</form>
{% endblock %}
