{% extends "bags/base_bags.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete company" %}: {{ company.name }}{% endblock %}

{% block set_common_content %}
{% url "bags:view_company" company.id as view_company_url %}
<p>
    {% blocktranslate trimmed with name=company.name url=view_company_url %}
    Do you really want to delete the company <a href="{{ url }}">{{ name }}</a>?
    {% endblocktranslate %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <a
        class="btn btn-secondary"
        href="{% url "bags:list_companys" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-danger"
        type="submit"
    >{% trans "Delete company" %}</button>
</form>
{% endblock %}
