{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block head %}
<script
    crossorigin='anonymous'
    integrity='sha512-/WRL6m0vrZwChpCDXLzRVpFqM5FqmF0k5A7NWQ+HvhtUtREs8MemDuFcMfEHZqg53UJmWbrs9aAWl6cDwdDv6w=='
    src='https://cdnjs.cloudflare.com/ajax/libs/poshytip/1.2/jquery.poshytip.min.js'
></script>
<script
    crossorigin='anonymous'
    src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"
></script>
<link
    crossorigin='anonymous'
    href='https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css'
    rel='stylesheet'
/>
<script>
    /* eslint-disable no-unused-vars */
    function selectAllSelectable(newState) {
        $('.selectTarget').prop('checked', newState);
        $('#selectAllButton').attr('onclick', `selectAllSelectable(${!newState})`);
    }

    const displayTrueFalseNoneFailure = (value, _, response) => {
        if (value === 'None') {
            $(response).html(`{% include "snippets/true_false_none_span.html" with value=None %}`);
        } else if (value === 'Failure') {
            $(response).html(`{% include "snippets/true_false_none_span.html" with value="Failure" %}`);
        } else if (value === 'True') {
            $(response).html(`{% include "snippets/true_false_span.html" with value=True%}`);
        } else if (value === 'False') {
            $(response).html(`{% include "snippets/true_false_span.html" with value=False%}`);
        } else {
            $(response).empty();
        }
    };

    $(document).ready(() => {
        $('#bagTable').DataTable({
            order: [
                [1, 'asc'],
                [2, 'asc'],
            ],
            columnDefs: [
                { targets: 0, orderable: false },
                { targets: 9, orderable: false },
            ],
            paging: false,
        });
        $.fn.editableform.buttons = `<button class='btn btn-primary btn-sm editable-submit' type='submit'>
                                        <span class='bi bi-check'></span>
                                    </button>`;
        $.fn.editableform.loading = `<div>
                                        <span aria-hidden='true' class='spinner-border spinner-border-sm' role='status'></span>
                                        <span class='sr-only'>Loading...</span>
                                     </div>`;
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.emptytext = '-';

        {% for company, select in companies_and_select %}
        $('#company_{{ company.id }}_email').editable({});
        $('#company_{{ company.id }}_email_sent').editable({
            escape: false,
            value:
                '{% if not company.email_sent_success and company.email_sent %}Failure{% else %}{{ company.email_sent }}{% endif %}',
            source: [
                { value: 'True', text: '{% trans "Yes" %}' },
                { value: 'False', text: '{% trans "No" %}' },
                { value: 'Failure', text: '{% trans "Failure" %}' },
            ],
            display: displayTrueFalseNoneFailure,
        });
        $('#company_{{ company.id }}_promise').editable({
            escape: false,
            value: '{{ company.promise }}',
            source: [
                { value: 'True', text: '{% trans "Yes" %}' },
                { value: 'False', text: '{% trans "No" %}' },
                { value: 'None', text: '{% trans "Unknown" %}' },
            ],
            display: displayTrueFalseNoneFailure,
        });
        $('#company_{{ company.id }}_last_year').editable({
            escape: false,
            value: '{{ company.last_year }}',
            source: [
                { value: 'True', text: '{% trans "Yes" %}' },
                { value: 'False', text: '{% trans "No" %}' },
            ],
            display: displayTrueFalseNoneFailure,
        });
        $('#company_{{ company.id }}_contact_again').editable({
            escape: false,
            value: '{{ company.contact_again }}',
            source: [
                { value: 'True', text: '{% trans "Yes" %}' },
                { value: 'False', text: '{% trans "No" %}' },
                { value: 'None', text: '{% trans "Unknown" %}' },
            ],
            display: displayTrueFalseNoneFailure,
        });
        $('#company_{{ company.id }}_comment').editable({});
        {% endfor %}
        document.getElementById('table_spinner').style.display = 'none';
        document.getElementById('hidden_table').style.visibility = 'visible';
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List companies" %}{% endblock %}

{% block set_common_content %}
<button
    class="btn btn-secondary"
    type="button"
    data-toggle="collapse"
    data-target="#collapseFilters"
    aria-expanded="false"
    aria-controls="collapseFilters"
>{% trans "Availible Filters" %}
</button>
<div
    class="collapse"
    id="collapseFilters"
>
    <form
        id="filterform"
        method="post"
        action=""
    >
        {% csrf_token %}
        {% bootstrap_form filterform %}
    </form>
</div>

<h4 class='mt-3'>{% trans "Select recipients and send mail" %}</h4>
<div
    class="justify-content-center mt-3"
    id="table_spinner"
    style="display: flex"
>
    <div
        class="spinner-border"
        style="width: 3rem; height: 3rem;"
        role="status"
    >
        <span class="sr-only">Loading...</span>
    </div>
</div>
<div
    id="hidden_table"
    style="visibility: hidden"
>
    <form
        id="companyselectform"
        method="post"
        action=""
    >
        {% csrf_token %}
        {{ companyforms.management_form }}
        <div class="table-responsive">
            <table
                id="bagTable"
                class="table dataTable"
            >
                <thead>
                    <tr>
                        <th><span
                                id='selectAllButton'
                                class="bi bi-check-square"
                                onclick='selectAllSelectable(true)'
                            ></span></th>
                        <th>{% trans "Company" %}</th>
                        <th>{% trans "Contact" %}</th>
                        <th>{% trans "Email" %}</th>
                        <th>{% trans "sent" %}</th>
                        <th>{% trans "Promise" %}</th>
                        <th>{% trans "Participated last year" %}</th>
                        <th>{% trans "Contact again" %}</th>
                        <th>{% trans "Giveaways" %}</th>
                        <th>{% trans "Actions" %}</th>
                        <th>{% trans "Comment" %}</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company, select in companies_and_select %}
                    <tr>
                        <td>
                            {{ select.id.as_hidden }}
                            {{ select.selected }}{% comment %}this is an input with the class of selectTarget{% endcomment %}
                        </td>
                        <td><a href="{% url "bags:view_company" company.id %}">{{ company.name }}</a></td>
                        <td>{{ company.full_contact }}</td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_email"
                                data-type="text"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "Email" %}'
                                data-url='{% url "bags:update_company" company.id "email" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{{ company.email }}</a>
                        </td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_email_sent"
                                data-type="select"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "sent" %}'
                                data-url='{% url "bags:update_company" company.id "email_sent" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{% if not company.email_sent_success and company.email_sent %}
                                {% include "snippets/true_false_none_span.html" with value="Failure" %}
                                {% else %}
                                {% include "snippets/true_false_none_span.html" with value=company.email_sent %}
                                {% endif %}</a>
                        </td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_promise"
                                data-type="select"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "Promise" %}'
                                data-url='{% url "bags:update_company" company.id "promise" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{% include "snippets/true_false_none_span.html" with value=company.promise %}</a>
                        </td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_last_year"
                                data-type="select"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "Participated last year" %}'
                                data-url='{% url "bags:update_company" company.id "last_year" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{% include "snippets/true_false_span.html" with value=company.last_year %}</a>
                        </td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_contact_again"
                                data-type="select"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "Enter contact again" %}'
                                data-url='{% url "bags:update_company" company.id "contact_again" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{% include "snippets/true_false_none_span.html" with value=company.contact_again %}</a>
                        </td>
                        <td>
                            {% with giveaways=company.giveaway_set.all %}
                            {% if giveaways %}
                            <table class='table table-borderless'>
                                <tbody>
                                    {% for giveaway in giveaways %}
                                    <tr>
                                        <td>
                                            <a href='{% url "bags:view_giveaway" giveaway.id %}'>{{ giveaway.group|default:"-" }}</a>
                                        </td>
                                        <td>{{ giveaway.item_count }}</td>
                                        <td>{{ giveaway.comment|default:"-" }}</td>
                                    </tr>
                                    {% endfor %}
                                    <tr>
                                        <td><a href='{% url "bags:add_giveaway_for_company" company.id  %}'><span class='bi bi-plus-circle'></span></a></td>
                                    </tr>
                                </tbody>
                            </table>
                            {% else %}
                            <a href='{% url "bags:add_giveaway_for_company" company.id  %}'><span class='bi bi-plus-circle'></span></a>
                            {% endif %}
                            {% endwith %}
                        </td>
                        <td>
                            <a href="{% url "bags:edit_company" company.id %}"><span class="bi bi-pencil-square"></span></a>
                            <a href="{% url "bags:del_company" company.id %}"><span class="bi bi-trash-fill"></span></a>
                        </td>
                        <td>
                            <a
                                href="#"
                                id="company_{{ company.id }}_comment"
                                data-type="text"
                                data-pk="{{ company.id }}"
                                data-title='{% trans "Comment" %}'
                                data-url='{% url "bags:update_company" company.id "comment" %}'
                                data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                            >{{ company.comment }}</a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form mailform %}
            </div>
        </div>

        <button
            class="btn btn-warning"
            name="mailform"
            type="submit"
        >{% trans "Send emails" %}</button>
    </form>
</div>
{% endblock %}
