{% load i18n %}
{% if giveaway_groups %}
<h1 class='card-title'>{% trans "Grouped Giveaways" %}</h1>
<div class='row'>
    {% for giveaway_group, giveaway_set in giveaway_groups %}
    <div class='col-xl-4 p-1'>
        <div class='card'>
            <div class='card-header'>
                {{ giveaway_group.name }}
                <a href="{% url "bags:add_giveaway_to_giveaway_group" giveaway_group.id %}"><span class="bi bi-bag-plus-fill"></span></a>
                <a href="{% url "bags:edit_giveaway_group" giveaway_group.id %}"><span class="bi bi-pencil-square"></span></a>
                <a href="{% url "bags:del_giveaway_group" giveaway_group.id %}"><span class="bi bi-trash-fill"></span></a>
            </div>
            <div class='card-body p-0'>
                <div class="table-responsive">
                    <table
                        id="giveawayTable"
                        class="table dataTable dataTableGrouped"
                        style='margin-top: 0 !important;'
                    >
                        <thead>
                            <tr>
                                <th>{% trans "Company" %}</th>
                                <th>{% trans "Giveaway-discription/ comment" %}</th>
                                <th>{% trans "Item Count" %}</th>
                                <th>{% trans "Arrival time (green=arrived)" %}</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for giveaway in giveaway_set.all %}
                            <tr>
                                <td>{{ giveaway.company }}<a
                                        class='bi bi-info'
                                        href="{% url "bags:view_company" giveaway.company.id %}"
                                    ></a></td>
                                <td>{{ giveaway.comment }}<a
                                        class='bi bi-info'
                                        href="{% url "bags:view_giveaway" giveaway.id %}"
                                    ></a></td>
                                <td>
                                    <a
                                        type="button"
                                        class="update_giveaway_grouped"
                                        data-form-url="{% url 'bags:update_giveaway' giveaway.pk %}"
                                    >{{ giveaway.item_count }}</a>
                                </td>
                                <td
                                    {% if giveaway.arrived %}class='table-success'
                                    {% endif %}
                                >
                                    <a
                                        type="button"
                                        class="update_giveaway_grouped"
                                        data-form-url="{% url 'bags:update_giveaway' giveaway.pk %}"
                                    >{{ giveaway.arrival_time|default:"-" }}</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                        <tfoot>
                            <tr>
                                <th></th>
                                <th></th>
                                <th>
                                    {% trans "Total" %}: {{ giveaway_group.total_items }}<br>
                                    {{ giveaway_group.custom_per_group_message }}
                                </th>
                                <th></th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endif %}
