html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 6rem;
}

/* footer */
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    /* Set the fixed height of the footer here */
    height: 4rem;
    background-color: #f5f5f5;
    text-align: center;
}

.choices {
    min-width: 20rem;
}
