{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Add email" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form form %}
        </div>
    </div>

    <button
        type="submit"
        class="btn btn-primary"
    >
        {% trans "Submit" %}
    </button>
    <a
        href="{% url "listmails" %}"
        class="btn btn-secondary"
    >
        {% trans "Cancel" %}
    </a>
</form>
{% endblock %}
