{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
<script
    crossorigin='anonymous'
    src="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/js/jquery-editable-poshytip.min.js"
></script>
<link
    crossorigin='anonymous'
    href='https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.0/jquery-editable/css/jquery-editable.css'
    rel='stylesheet'
/>
<script>
    const displayTrueFalse = (value, _, response) => {
        if (value === 'True') {
            $(response).html(`{% include "true_false_span.html" with value=True%}`);
        } else if (value === 'False') {
            $(response).html(`{% include "true_false_span.html" with value=False%}`);
        } else {
            $(response).empty();
        }
    };

    const displayTrueFalseNone = (value, _, response) => {
        if (value === 'True') {
            $(response).html(`{% include "true_false_none_span.html" with value=True%}`);
        } else if (value === 'False') {
            $(response).html(`{% include "true_false_none_span.html" with value=False%}`);
        } else if (value === 'None') {
            $(response).html(`{% include "true_false_none_span.html" with value=None %}`);
        } else {
            $(response).empty();
        }
    };

    $(document).ready(() => {
        $('#bagTable').DataTable({
            order: [
                [1, 'asc'],
                [2, 'asc'],
            ],
            columnDefs: [
                { targets: 0, orderable: false },
                { targets: 13, orderable: false },
            ],
            paging: false,
        });
        $.fn.editableform.buttons =
            '<button type="submit" class="btn btn-primary btn-sm editable-submit"><span class="glyphicon glyphicon-ok"></span></button>' +
            '<button type="button" class="btn btn-secondary btn-sm editable-cancel"><span class="glyphicon glyphicon-remove"></span></button>';
        $.fn.editableform.loading =
            '<div>' +
            '<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>' +
            '<span class="sr-only">Loading...</span>' +
            '</div>';
        $.fn.editable.defaults.mode = 'inline';
        $.fn.editable.defaults.emptytext = '-';

        {% for company, select in companies %}
        $('#company_{{ company.id }}_email').editable({});
        $('#company_{{ company.id }}_email_sent').editable({
            escape: false,
            value: '{{ company.email_sent }}',
            source: [
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalse,
        });
        $('#company_{{ company.id }}_email_sent_success').editable({
            escape: false,
            value: '{{ company.email_sent_success }}',
            source: [
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalse,
        });
        $('#company_{{ company.id }}_promise').editable({
            escape: false,
            value: '{{ company.promise }}',
            source: [
                { value: 'None', text: '{% trans "unknown" %}' },
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalseNone,
        });
        $('#company_{{ company.id }}_giveaways').editable({});
        $('#company_{{ company.id }}_arrival_time').editable({});
        $('#company_{{ company.id }}_arrived').editable({
            escape: false,
            value: '{{ company.arrived }}',
            source: [
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalse,
        });
        $('#company_{{ company.id }}_last_year').editable({
            escape: false,
            value: '{{ company.last_year }}',
            source: [
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalse,
        });
        $('#company_{{ company.id }}_giveaways_last_year').editable({
            emptytext: '-',
        });
        $('#company_{{ company.id }}_contact_again').editable({
            escape: false,
            value: '{{ company.contact_again }}',
            source: [
                { value: 'None', text: '{% trans "unknown" %}' },
                { value: 'True', text: '{% trans "yes" %}' },
                { value: 'False', text: '{% trans "no" %}' },
            ],
            display: displayTrueFalseNone,
        });
        $('#company_{{ company.id }}_comment').editable({});
        {% endfor %}
    });
</script>
{% endblock %}

{% block set_common_headercontent %}{% trans "List companies" %}{% endblock %}

{% block set_common_content %}
<h4>
    {% trans "Availible Filters" %}
</h4>
<form
    id="filterform"
    method="post"
    action=""
>
    {% csrf_token %}
    {% bootstrap_form filterform %}
</form>

<h4>
    {% trans "Select recipients and send mail" %}
</h4>

<form
    id="companyselectform"
    method="post"
    action=""
>
    {% csrf_token %}
    {{ companyforms.management_form }}
    <div class="table-responsive">
        <table
            id="bagTable"
            class="table dataTable"
        >
            <thead>
                <tr>
                    <th><span class="glyphicon glyphicon-ok-circle"></span></th>
                    <th>{% trans "Company" %}</th>
                    <th>{% trans "Contact" %}</th>
                    <th>{% trans "Email" %}</th>
                    <th>{% trans "sent" %}</th>
                    <th>{% trans "successfully sent" %}</th>
                    <th>{% trans "Promise" %}</th>
                    <th>{% trans "Giveaways" %}</th>
                    <th>{% trans "Arrival time" %}</th>
                    <th>{% trans "Arrived" %}</th>
                    <th>{% trans "Participated last year" %}</th>
                    <th>{% trans "Giveaways last year" %}</th>
                    <th>{% trans "Contact again" %}</th>
                    <th>{% trans "Actions" %}</th>
                    <th>{% trans "Comment" %}</th>
                </tr>
            </thead>
            <tbody>
                {% for company, select in companies %}
                <tr>
                    <td>
                        {{ select.id.as_hidden }}
                        {{ select.selected }}
                    </td>
                    <td>
                        <a href="{% url "viewcompany" company.id %}">
                            {{ company.name }}
                        </a>
                    </td>
                    <td>
                        {{ company.full_contact }}
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_email"
                            data-type="text"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Email" %}'
                            data-url='{% url "updatecompany" company.id "email" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {{ company.email }}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_email_sent"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "sent" %}'
                            data-url='{% url "updatecompany" company.id "email_sent" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_span.html" with value=company.email_sent %}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_email_sent_success"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "successfully sent" %}'
                            data-url='{% url "updatecompany" company.id "email_sent_success" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_span.html" with value=company.email_sent_success %}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_promise"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Promise" %}'
                            data-url='{% url "updatecompany" company.id "promise" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_none_span.html" with value=company.promise %}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_giveaways"
                            data-type="text"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Giveaways" %}'
                            data-url='{% url "updatecompany" company.id "giveaways" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {{ company.giveaways }}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_arrival_time"
                            data-type="text"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Arrival time" %}'
                            data-url='{% url "updatecompany" company.id "arrival_time" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {{ company.arrival_time }}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_arrived"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Arrived" %}'
                            data-url='{% url "updatecompany" company.id "arrived" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_span.html" with value=company.arrived %}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_last_year"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Participated last year" %}'
                            data-url='{% url "updatecompany" company.id "last_year" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_span.html" with value=company.last_year %}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_giveaways_last_year"
                            data-type="text"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Giveaways last year" %}'
                            data-url='{% url "updatecompany" company.id "giveaways_last_year" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {{ company.giveaways_last_year }}
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_contact_again"
                            data-type="select"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Enter contact again" %}'
                            data-url='{% url "updatecompany" company.id "contact_again" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {% include "true_false_none_span.html" with value=company.contact_again %}
                        </a>
                    </td>
                    <td>
                        <a href="{% url "editcompany" company.id %}">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <a href="{% url "delcompany" company.id %}">
                            <span class="glyphicon glyphicon-trash"></span>
                        </a>
                    </td>
                    <td>
                        <a
                            href="#"
                            id="company_{{ company.id }}_comment"
                            data-type="text"
                            data-pk="{{ company.id }}"
                            data-title='{% trans "Comment" %}'
                            data-url='{% url "updatecompany" company.id "comment" %}'
                            data-params="{csrfmiddlewaretoken:'{{ csrf_token }}'}"
                        >
                            {{ company.comment }}
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form mailform %}
            <p>
                <button
                    type="submit"
                    name="mailform"
                    class="btn btn-primary"
                >
                    {% trans "Send emails" %}
                </button>
            </p>
        </div>
    </div>
</form>
{% endblock %}
