{% extends "base_card_layout.html" %}
{% load i18n %}
{% load bootstrap4 %}
{% load active_link_tags %}

{% block set_common_navigation %}
<a
    class="nav-link {% active_link "bags:dashboard" %}"
    href="{% url "bags:dashboard" %}"
>{% trans "Dashboard" %}</a>
<h4 class="navbar-text">{% trans "General" %}</h4>
<a
    class="nav-link {% active_link "bags:add_company" %}"
    href="{% url "bags:add_company" %}"
>{% trans "Add a company" %}</a>
<a
    class="nav-link {% active_link "bags:add_giveaway" %}"
    href="{% url "bags:add_giveaway" %}"
>{% trans "Add a giveaway" %}</a>
<a
    class="nav-link {% active_link "bags:list_mails" %}"
    href="{% url "bags:list_mails" %}"
>{% trans "Edit email-templates" %}</a>
{% if user.is_staff %}
<h4 class="navbar-text">{% trans "Import/ Export" %}</h4>
<a
    class="nav-link {% active_link "bags:import_previous_semester" %}"
    href="{% url "bags:import_previous_semester" %}"
>{% trans "Import companies" %}</a>
<a
    class="nav-link {% active_link "bags:import_csv" %}"
    href="{% url "bags:import_csv" %}"
>{% trans "Import CSV" %}</a>
<a
    class="nav-link {% active_link "bags:export_csv" %}"
    href="{% url "bags:export_csv" %}"
>{% trans "Export CSV" %}</a>
{% endif %}
{% endblock %}
