{% extends "bags/base_bags.html" %}
{% load i18n %}

{% block set_common_headercontent %}{% trans "Delete company" %}: {{ company.name }}{% endblock %}

{% block set_common_content %}
{% url "viewcompany" company.id as viewcompany %}
<p>
    {% blocktranslate trimmed with name=company.name url=viewcompany %}
    Do you really want to delete the company <a href="{{ url }}">{{ name }}</a>?
    {% endblocktranslate %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <button
        type="submit"
        class="btn btn-danger"
    >
        {% trans "Delete" %}
    </button>
    <a
        href="{% url "bags_dashboard" %}"
        class="btn btn-secondary"
    >
        {% trans "Cancel" %}
    </a>
</form>
{% endblock %}
