{% extends "base.html" %}
{% load i18n %}
{% load bootstrap3 %}

{% block title %}{% trans "Freshmen bags" %} - {% trans "Edit company" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "Edit company" %}: {{ company.name }}
    </h1>

    <form method="post" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-xs-12 col-lg-5">
                {% bootstrap_form form %}

                <table class="table">
                    <tr>
                        <td><button type="submit" class="btn btn-default">{% trans "Submit" %}</button></td>
                        <td><a href="{% url "listcompanies" %}" class="btn btn-default">{% trans "Cancel" %}</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </form>
{% endblock %}
