{% extends "base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#bagTable').DataTable();
        });
    </script>
{% endblock %}

{% block title %}{% trans "Freshmen bags" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {% trans "List companies" %}
        </div>
        <div class="card-body">

            <form method="post" action="">
                {% csrf_token %}
                {{ companyforms.management_form }}

                <div class="row">
                    <div class="col-xs-12 col-lg-5">
                        {% bootstrap_form form %}
                        <p>
                            <button type="submit" name="mailform"
                                    class="btn btn-secondary">{% trans "Send emails" %}</button>
                        </p>
                        <p><a href="{% url "listmails" %}"
                              class="btn btn-secondary">{% trans "Edit Email Templates" %}</a></p>
                        <p><a href="{% url "addcompany" %}" class="btn btn-secondary">{% trans "Add Company" %}</a></p>
                    </div>
                </div>

                <p></p>
                <div class="table-responsive">
                    <table id="bagTable" class="table table-bordered dataTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th>{% trans "Company" %}</th>
                            <th>{% trans "Contact" %}</th>
                            <th>{% trans "E-Mail" %}</th>
                            <th>{% trans "sent" %}</th>
                            <th>{% trans "successfully sent" %}</th>
                            <th>{% trans "Promise" %}</th>
                            <th>{% trans "Giveaways" %}</th>
                            <th>{% trans "Arrival time" %}</th>
                            <th>{% trans "Comment" %}</th>
                            <th>{% trans "Participated last year" %}</th>
                            <th>{% trans "Arrived" %}</th>
                            <th>{% trans "Contact again" %}</th>
                            <th>{% trans "Edit" %}</th>
                            <th>{% trans "Delete" %}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for company, select in companies %}
                            <tr>
                                <td>
                                    {{ select.id.as_hidden }}
                                    {{ select.selected }}
                                </td>
                                <td>
                                    <a href="{% url "viewcompany" company.id %}">{{ company.name }}</a>
                                </td>
                                <td>{{ company.full_contact }}</td>
                                <td>{{ company.email }}</td>
                                {% if company.email_sent %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% else %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% endif %}
                                {% if company.email_sent_success %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% else %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% endif %}
                                {% if company.promise %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% elif company.promise == False %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>{{ company.giveaways }}</td>
                                <td>{{ company.arrival_time }}</td>
                                <td>{{ company.comment }}</td>
                                {% if company.last_year %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% else %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% endif %}
                                {% if company.arrived %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% else %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% endif %}
                                {% if company.contact_again %}
                                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span><span
                                            style="visibility:hidden">ja</span></td>
                                {% elif company.contact_again == False %}
                                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span><span
                                            style="visibility:hidden">nein</span></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                                <td>
                                    <a href="{% url "editcompany" company.id %}"><span
                                            class="glyphicon glyphicon-edit"></span></a>
                                </td>
                                <td>
                                    <a href="{% url "delcompany" company.id %}"><span
                                            class="glyphicon glyphicon-trash"></span></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </form>
        </div>
    </div>
{% endblock %}

