{% extends "settool_common/base.html" %}
{% load i18n %}

{% block title %}{% trans "Freshmen bags" %} - {% trans "List companies" %}{% endblock %}

{% block content %}
    <h1>
        {% trans "List companies" %}
    </h1>

    <table class="table">
    <tr>
        <th>{% trans "Name" %}</th>
        <th>{% trans "Contact" %}</th>
        <th>{% trans "E-Mail" %}</th>
        <th>{% trans "sent" %}</th>
        <th>{% trans "successfully sent" %}</th>
        <th>{% trans "Promise" %}</th>
        <th>{% trans "Giveaways" %}</th>
        <th>{% trans "Arrival time" %}</th>
        <th>{% trans "Comment" %}</th>
        <th>{% trans "Participated last year" %}</th>
        <th>{% trans "Arrived" %}</th>
        <th>{% trans "Contact again" %}</th>
        <th>{% trans "Edit" %}</th>
        <th>{% trans "Delete" %}</th>
    </tr>
        {% for company in companies %}
            <tr>
                <td>
                    <a href="{% url "viewcompany" company.id %}">{{ company.name }}</a>
                </td>
                <td>{{ company.contact }}</td>
                <td>{{ company.email }}</td>
                {% if company.email_sent %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
                {% if company.email_sent_success %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
                {% if company.zusage %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% elif company.zusage == False %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>{{ company.giveaways }}</td>
                <td>{{ company.arrival_time }}</td>
                <td>{{ company.comment }}</td>
                {% if company.last_year %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
                {% if company.arrived %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% else %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% endif %}
                {% if company.contact_again %}
                    <td><span style="color:green" class="glyphicon glyphicon-ok"></span></td>
                {% elif company.contact_again == False %}
                    <td><span style="color:red" class="glyphicon glyphicon-remove"></span></td>
                {% else %}
                    <td></td>
                {% endif %}
                <td>
                    <a href="{% url "editcompany" company.id %}"><span class="glyphicon glyphicon-edit"></span></a>
                </td>
                <td>
                    <a href="{% url "delcompany" company.id %}"><span class="glyphicon glyphicon-trash"></span></a>
                </td>
            </tr>
        {% endfor %}
    </table>

    <p><a href="{% url "addcompany" %}" class="btn btn-default">{% trans "Add Company" %}</a></p>

{% endblock %}
