{% extends "base.html" %}
{% load i18n %}

{% block head %}
    <script>
        $(document).ready(function () {
            $('#mailTable').DataTable();
        });
    </script>
{% endblock %}

{% block title %}{% trans "Freshmen bags" %} - {% trans "List email templates" %}{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            {% trans "List email templates" %}
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="mailTable" class="table table-bordered dataTable">
                    <thead>
                    <tr>
                        <th>{% trans "Subject" %}</th>
                        <th>{% trans "Text" %}</th>
                        <th>{% trans "Comment" %}</th>
                        <th>{% trans "Delete" %}</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for mail in mails %}
                        <tr>
                            <td>
                                <a href="{% url "editmail" mail.id %}">{{ mail.subject }}</a>
                            </td>
                            <td>{{ mail.text|slice:":100" }}{% if mail.text|length > 100 %}...{% endif %}</td>
                            <td>{{ mail.comment }}</td>
                            <td>
                                <a href="{% url "delmail" mail.id %}"><span
                                        class="glyphicon glyphicon-trash"></span></a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <table class="table">
                <tr>
                    <td><a href="{% url "addmail" %}" class="btn btn-secondary">{% trans "Add Email" %}</a></td>
                    <td><a href="{% url "listcompanies" %}" class="btn btn-secondary">{% trans "Edit Companies" %}</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
