{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Send email" %}{% endblock %}

{% block set_common_content %}
<p>
    {% trans "Do you really want to send the following email to the companies below?" %}
</p>
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <table class="table">
        <tr>
            <td>
                <button
                    type="submit"
                    class="btn btn-secondary"
                >
                    {% trans "Send" %}
                </button>
            </td>
            <td>
                <a
                    href="{% url "bags_dashboard" %}"
                    class="btn btn-secondary"
                >
                    {% trans "Cancel" %}
                </a>
            </td>
        </tr>
    </table>
</form>
<p>
    <strong>{% trans "From" %}</strong>: {{ from_email }}
</p>
<p>
    <strong>{% trans "To" %}</strong>: {% trans "see table below" %}
</p>
<p>
    <strong>{% trans "Subject" %}</strong>: {{ subject }}
</p>
<p>
    <strong>{% trans "Text" %}</strong>:<br />{{ text|linebreaks|urlize }}
</p>
<div class="table-responsive">
    <table
        id="bagTable"
        class="table dataTable"
    >
        <thead>
            <tr>
                <th>{% trans "Company" %}</th>
                <th>{% trans "Contact" %}</th>
                <th>{% trans "Email" %}</th>
                <th>{% trans "sent" %}</th>
                <th>{% trans "successfully sent" %}</th>
                <th>{% trans "Promise" %}</th>
                <th>{% trans "Giveaways" %}</th>
                <th>{% trans "Arrival time" %}</th>
                <th>{% trans "Comment" %}</th>
                <th>{% trans "Participated last year" %}</th>
                <th>{% trans "Arrived" %}</th>
                <th>{% trans "Contact again" %}</th>
                <th>{% trans "Edit" %}</th>
                <th>{% trans "Delete" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for company in companies %}
            <tr>
                <td><a href="{% url "viewcompany" company.id %}">{{ company.name }}</a></td>
                <td>{{ company.full_contact }}</td>
                <td>{{ company.email }}</td>
                <td>{% include "true_false_none_span.html" with value=company.email_sent %}</td>
                <td>{% include "true_false_none_span.html" with value=company.email_sent_success %}</td>
                <td>{% include "true_false_none_span.html" with value=company.promise %}</td>
                <td>{{ company.giveaways }}</td>
                <td>{{ company.arrival_time }}</td>
                <td>{{ company.comment }}</td>
                <td>{% include "true_false_none_span.html" with value=company.last_year %}</td>
                <td>{% include "true_false_none_span.html" with value=company.arrived %}</td>
                <td>{% include "true_false_none_span.html" with value=company.contact_again %}</td>
                <td><a href="{% url "editcompany" company.id %}"><span class="glyphicon glyphicon-edit"></span></a></td>
                <td><a href="{% url "delcompany" company.id %}"><span class="glyphicon glyphicon-trash"></span></a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
