{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap5 %}

{% block set_common_headercontent %}{% trans "Add a giveaway" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col-xs-12 col-lg-5">
            {% bootstrap_form form %}
            {% if groups %}
            <datalist id="groupDatalist">
                {% for group in groups %}
                <option value="{{ group.name }}">{{ group.custom_per_group_message }}</option>
                {% endfor %}
            </datalist>
            {% endif %}
        </div>
    </div>

    <a
        class="btn btn-secondary"
        {% if not for_company %}
        href="{% url "bags:list_giveaways_arrivals" %}"
        {% else %}
        href="{% url "bags:list_companys" %}"
        {% endif %}
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-primary"
        type="submit"
    >{% trans "Add giveaway" %}</button>
</form>
{% endblock %}
