{% extends "bags/base_bags.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block set_common_headercontent %}{% trans "Giveaway" %} {{ giveaway }}{% endblock %}

{% block set_common_content %}
<div class='table-responsive'>
    <table class='table'>
        <tbody>
            <tr>
                <th>{% trans "Company" %}</th>
                <td><a href='{% url "bags:view_company" giveaway.company.id %}'>{{ giveaway.company }}</a></td>
            </tr>
            <tr>
                <th>{% trans "Giveaway-groups" %}</th>
                <td>{{ giveaway.group }}</td>
            </tr>
            <tr>
                <th>{% trans "Giveaway-title" %}</th>
                <td>{{ giveaway.name }}</td>
            </tr>
            <tr>
                <th>{% trans "Item Count" %}</th>
                <td>{{ giveaway.item_count }}</td>
            </tr>
            <tr>
                <th>{% trans "Arrival time" %}</th>
                <td>{{ giveaway.arrival_time }}</td>
            </tr>
            <tr>
                <th>{% trans "Arrived" %}</th>
                <td>{{ giveaway.arrived }}</td>
            </tr>
        </tbody>
    </table>
</div>
<a
    class="btn btn-secondary"
    href="{% url "bags:list_giveaways_arrivals" %}"
>{% trans "Back" %}</a>
<a
    class="btn btn-primary"
    href="{% url "bags:edit_giveaway" giveaway.id %}"
>{% trans "Edit giveaway" %}</a>
<a
    class="btn btn-danger"
    href="{% url "bags:del_giveaway" giveaway.id %}"
>{% trans "Delete giveaway" %}</a>
{% endblock %}
