name: Main CI

on:
    push:
        branches:
            - 'main'
    pull_request:
    workflow_dispatch:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4

        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
            - name: Setup Python
              uses: actions/setup-python@v2.2.2
              with:
                  python-version: 3.7
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt -r requirements_dev.txt
                  sudo apt-get update
                  sudo apt-get -qq install -y texlive-base texlive-lang-german texlive-fonts-recommended texlive-latex-extra latexmk
            - name: Run Tests
              run: |
                  python manage.py test
    pre-commit:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4

        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
            - name: Setup Python
              uses: actions/setup-python@v2.2.2
              with:
                  python-version: 3.7
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt -r requirements_dev.txt
                  sudo apt-get update
                  sudo apt-get -qq install -y gettext
            - name: Run pre-commit
              uses: pre-commit/action@v2.0.3
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
