name: npm-staticfiles updater

on:
    push:
        branches:
            - 'main'
    workflow_dispatch:

jobs:
    update_npm:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4
        steps:
            - uses: actions/checkout@v2
              with:
                  ref: ${{ github.head_ref }}
            - uses: actions/setup-python@v2.2.2
              with:
                  python-version: 3.7
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install pre-commit
                  sudo apt-get update
                  sudo apt-get -qq install -y npm
            - name: Install npm packages
              continue-on-error: true
              run: |
                  npm install
                  pre-commit run -a --config .pre-commit-only-line-endings-config.yaml
            - name: Commit npm packages
              uses: stefanzweifel/git-auto-commit-action@v4
              with:
                  commit_message: 'Automated Change: updated npm requirements'
