name: Pre-Commit

on:
    push:

jobs:
    test:
        runs-on: ubuntu-latest
        strategy:
            max-parallel: 4

        steps:
            - uses: actions/checkout@v2
            - name: Setup Python
              uses: actions/setup-python@v2.2.2
              with:
                  python-version: 3.7
            - name: Install Dependencies
              run: |
                  python -m pip install --upgrade pip
                  pip install -r requirements.txt -r requirements_dev.txt
                  sudo apt-get update
                  sudo apt-get -qq install -y gettext texlive-base texlive-lang-german texlive-fonts-recommended texlive-latex-extra latexmk
            - name: Run pre-commit
              uses: pre-commit/action@v2.0.2
              with:
                  token: ${{ secrets.GITHUB_TOKEN }}
