{% extends "tutors/base.html" %}
{% load i18n %}
{% load bootstrap4 %}

{% block title %}{% trans "Tutor" %} - {% trans "Tutor Settings" %}{% endblock %}

{% block tutorcontent %}
    <h1>
        {% trans "Tutor Settings" %}:
    </h1>
    <hr>
    <form method="post" action="">
        {% csrf_token %}

        <div class="row">
            <div class="col-lg-12 form-horizontal">
                {{ form_set.management_form }}
                {% for form in form_set %}
                    <div class="row">
                        {% bootstrap_form_errors form %}
                        {% bootstrap_form form layout='horizontal' %}
                    </div>
                    {% if not forloop.last %}
                        <hr>
                    {% endif %}
                {% endfor %}
            </div>
        </div>

        <table class="table">
            <tr>
                <td>
                    <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
                </td>
                <td><a href="{% url "tutors_settings_tutors" %}" class="btn btn-default">{% trans "Cancel" %}</a></td>
            </tr>
        </table>
    </form>
{% endblock %}
