{% extends "tutors/base_tutors.html" %}
{% load i18n %}
{% load django_bootstrap5 %}

{% block set_common_headercontent %}{% trans "Tutor settings" %}{% endblock %}

{% block set_common_content %}
<form
    method="post"
    action=""
>
    {% csrf_token %}

    <div class="row">
        <div class="col form-horizontal">
            {{ form_set.management_form }}
            {% for form in form_set %}

            {% bootstrap_form_errors form %}
            {% bootstrap_form form layout='horizontal' %}

            {% if not forloop.last %}
            <hr>
            {% endif %}
            {% endfor %}
        </div>
    </div>

    <a
        class="btn btn-secondary"
        href="{% url "tutors:main_index" %}"
    >{% trans "Cancel" %}</a>
    <button
        class="btn btn-warning"
        type="submit"
    >{% trans "Save tutor settings" %}</button>
</form>
{% endblock %}
